{%extends "loginbase.html"%}

{%block title%}Requests{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <li class="breadcrumb-item active">Admin</li>
            </ol>
          	<h4 class="title">Virtual Clusters: Admin View SOME NEW CHANGES</h4>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">

  							<div class="panel panel-primary filterable">
  								<div class="panel-heading">
  									<h3 class="panel-title">All Virtual Clusters</h3>
  									<div class="pull-right">
  										<button class="btn btn-primary btn-sm btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  									</div>
  								</div>
                  <div class="table-responsive" style="overflow-x:auto;">
    								<table class="display table table-hover" width="100%">
    									<thead>
    										<tr class="filters">
    											<th><input type="text" class="form-control" placeholder="Name" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Owner" disabled></th>
    											<th><input type="text" class="form-control" placeholder="Project" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Head Node" disabled></th>
    											<th><input type="text" class="form-control" placeholder="Workers" disabled></th>
                          <th><input type="text" class="form-control" placeholder="State" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Cluster Template" disabled></th>
    										</tr>
    									</thead>
    									<tbody data-link="row" class="rowlink">
                    {% for request in requests %}
    										<tr>
    											<td>
                            <strong>
                            {{ request.displayname }}
                            </strong>
                          </td>

                          <td>
                            {{ request.owner }}
                          </td>

                          <td>
                            {{ request.project }}
                          </td>

                          {% set requestname = request.name.replace(".", "-") %}
                          {% set request_headnode_app_host = requestname + '_headnode_app_host' %}

                          <td>
                            <!-- <div class="row" id="{{request_headnode_app_host}}"> -->
                            <!-- </div> -->
                            <div class="row">
                              <small id="{{request_headnode_app_host}}"></small>
                            </div>
                          </td>

                          {% set request_statereason = requestname + '_statereason' %}
                          {% set request_statusinfo = requestname + '_statusinfo' %}
                          {% set request_statusinfo_requested = requestname + '_statusinfo_requested' %}
                          {% set request_statusinfo_running = requestname + '_statusinfo_running' %}
                          {% set request_statusinfo_idle = requestname + '_statusinfo_idle' %}
                          {% set request_statusinfo_error = requestname + '_statusinfo_error' %}
                          {% set request_headnode_app_host = requestname + '_headnode_app_host' %}

                          <td>
                            <div class="row">
                              <span class="label label-info" style="color:white" id="{{request_statusinfo_requested}}">
                              </span>
                              <small class="" id="node-status">Requested</small>
                            </div>
                            <div class="row">
                              <span class="label label-success" style="color:white" id="{{request_statusinfo_running}}">
                              </span>
                              <small class="" id="node-status">Running</small>
                            </div>
                            <div class="row">
                              <span class="label label-warning" id="{{request_statusinfo_idle}}" style="color:white">
                              </span>
                              <small class="" id="node-status">Queued</small>
                            </div>
                            <div class="row">
                              <span class="label label-danger" style="color:white" id="{{request_statusinfo_error}}">
                              </span>
                              <small class="" id="node-status">Error</small>
                            </div>
                          </td>

                          <td>
                            <br>
                            <div id="{{requestname}}" class="progress"></div>
                            <small id="{{request_statereason}}"></small>
                          </td>

                          {% set vc3_client = get_vc3_client() %}
                          {% set clusterinfo = vc3_client.getCluster(clustername=request.cluster)%}
                          <td>
                            <div>{{clusterinfo.displayname}}</div>
                          </td>


    										</tr>
                    {% endfor %}
    									</tbody>
    								</table>
                  </div>
  							</div>
  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

<script>

var stateEntityList = {{requestlist|safe}};
var stateEntityListLength = stateEntityList.length;

window.onload = function (){
  for (var i = 0; i < stateEntityListLength; i++) {
    var name = stateEntityList[i];
    get_states(name);
  };
  setInterval( function(){
    get_states(name, $(this));
  }.bind(this), 4000);
}

function get_states(name){
  $.ajax({
    url: "/rest/virtual_cluster/" + name,
    type: "get",
    dataType: 'json',
    success: function(data){
      var request_id = name.replace(".", "-");
      var request_statereason = (request_id+'_statereason');
      if(data.action == "relaunch"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-info active' role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100'>Relaunching</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.action == "terminate" && data.state != "terminating" && data.state != "cleanup" && data.state != "terminated"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-danger active' role='progressbar' style='width: 33%' aria-valuenow='33' aria-valuemin='0' aria-valuemax='100'>Terminating</div>");
        $('#'+request_statereason).html("Scheduling virtual cluster termination");
      } else if(data.state == "new"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-info active' role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100'>New</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "initializing"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-warning active' role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100'>Initializing</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "pending"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-warning active' role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100'>Pending</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "failure"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-danger active' role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'>Failure</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "running"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-success active' role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'>Running</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "terminating"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-danger active' role='progressbar' style='width: 33%' aria-valuenow='33' aria-valuemin='0' aria-valuemax='100'>Terminating</div>");
        $('#'+request_statereason).html("Scheduling virtual cluster termination");
      } else if(data.state == "cleanup"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-striped progress-bar-danger active' role='progressbar' style='width: 66%' aria-valuenow='66' aria-valuemin='0' aria-valuemax='100'>Clean Up</div>");
        $('#'+request_statereason).html(data.statereason);
      } else if(data.state == "terminated"){
        $('#'+request_id).html("<div class='progress-bar progress-bar-danger' role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'>Terminated</div>");
        $('#'+request_statereason).html(data.statereason);
      }

      //  else if {
      //   $('#'+request_id).html((((data.state).charAt(0)).toUpperCase())+((data.state).slice(1)));
      //   $('#'+request_statereason).html(data.statereason);
      // }

      var request_statusinfo = (request_id+'_statusinfo');
      var request_statusinfo_requested = (request_id+'_statusinfo_requested');
      var request_statusinfo_running = (request_id+'_statusinfo_running');
      var request_statusinfo_idle = (request_id+'_statusinfo_idle');
      var request_statusinfo_error = (request_id+'_statusinfo_error');

      if(data.statusinfo == null){
        $('#'+request_statusinfo_requested).html("Pending");
        $('#'+request_statusinfo_running).html("Pending");
        $('#'+request_statusinfo_idle).html("Pending");
        $('#'+request_statusinfo_error).html("Pending");
      } else {
        $('#'+request_statusinfo_requested).html(data.statusinfo_requested);
        $('#'+request_statusinfo_running).html(data.statusinfo_running);
        $('#'+request_statusinfo_idle).html(data.statusinfo_idle);
        $('#'+request_statusinfo_error).html(data.statusinfo_error);
      }
      if($('#test').length != 0){
        $('#test').css('color', 'red');
      }

      var request_headnode_app_host = (request_id + '_headnode_app_host');
      if(data.headnode_state == 'running'){
        $('#'+request_headnode_app_host).html(data.headnode_app_host);
      } else if(data.headnode_state == ("terminated" || "failure")){
        $('#'+request_headnode_app_host).html("N/A");
      } else {
        $('#'+request_headnode_app_host).html("IP not yet available");
      }
    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

// $(document).ajaxComplete(function(){
//   if($('#test').length != 0){
//     $('#test').css('color', 'red');
//   }
// });

</script>

{%endblock%}
