{%extends "loginbase.html"%}

{%block title%}Register Allocations{%endblock%}

{%block body%}
{%include 'messages.html'%}


<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_allocations')}}">Allocations</a></li>
              <li class="breadcrumb-item active">Register New Allocation</li>
            </ol>
            <h4 class="title">Register New Allocation</h4>
            <h5>An allocation is an allotted amount of CPU hours or service units (SU) of computing time on a specific resource</h5>
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('create_allocation')}}" method="POST">

                    <!-- <div class="form-group">
                      <label for="displayname">Allocation Name <span id="asterik">*</span></label>
                      <input
                        placeholder="Allocation Name"
                        name="displayname"
                        class="form-control border-input"
                        type="text"
                        tabindex="1"
                        autofocus
                        required
                        value="{{displayname}}"
                        >
                    </div> -->

                    <div class="form-group">
                      <label for="resource">Resource <span id="asterik">*</span></label>
                      <select class="form-control border-input" name="resource" tabindex="2" id="form-resource-list" required>
                        <option value="" selected disabled>Please Select Resource</option>
                        {% for resource in resources %}
                          {% if resource.public %}
                        <option value="{{resource.name}}">{{ resource.displayname }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="accountname">Account Name on Resource <span id="asterik">*</span></label>
                      <input
                        placeholder="Account Name"
                        name="accountname"
                        class="form-control border-input"
                        type="text"
                        tabindex="3"
                        autofocus
                        value="{{accountname}}"
                        required>
                    </div>

                    <!-- <div class="form-group">
                      <label for="description">Description (optional)</label>
                      <textarea
                        placeholder="A brief description..."
                        name="description"
                        class="form-control border-input"
                        id="form-textarea"
                        tabindex="4"
                        rows="5"
                        autofocus
                        maxlength="144"
                        value="{{request.description}}"
                        >{{description}}</textarea>
                      <span class="help-block exceeded"></span>
                    </div> -->

                    <div class="form-group">
                      <a href="{{url_for('list_allocations')}}" class="btn btn-primary" tabindex="5" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="6" class="btn btn-create btn-wd">Register Allocation</button>
                    </div>
                  </form>
        				</div>

        			</div> <!-- row -->
            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->
    </div><!-- ./row -->
  </div><!-- ./container-fluid -->
</div><!-- ./content -->

{%endblock%}
