{%extends "loginbase.html"%}

{%block title%}Allocations{%endblock%}

{%block body%}
{%include 'messages.html'%}


<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <li class="breadcrumb-item active">Allocations</li>
            </ol>
          	<h4 class="title">Allocations</h4>
            <div class="">
							<h5>A list of your current allocations</h5>
							<a href="{{url_for('create_allocation')}}" class="btn btn-primary btn-sm" title="Register New Allocation">+ New Allocation</a>
						</div>
						<hr/>
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">
  							<div class="panel panel-primary filterable">
  								<div class="panel-heading">
  									<h3 class="panel-title">My Allocations</h3>
  									<div class="pull-right">
  										<button class="btn btn-primary btn-sm btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  									</div>
  								</div>
                  <div class="table-responsive" style="overflow-x:auto;">
    								<table class="display table table-hover" width="100%">
    									<thead>
    										<tr class="filters">
    											<th><input type="text" class="form-control" placeholder="Allocation Profile" disabled></th>
    											<th><input type="text" class="form-control" placeholder="State" disabled></th>
    											<th><input type="text" class="form-control" placeholder="Resource" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Description" disabled></th>
    										</tr>
    									</thead>
    									<tbody data-link="row" class="rowlink">
    										{% for allocation in allocations %}
                          {% if allocation.owner == session['name'] %}
    										<tr>
    											<td>
                            <a href="{{ url_for('view_allocation', name=allocation.name) }}" title="View Allocation">{{ allocation.displayname }}</a>
                          </td>
                              {% set allocationname = allocation.name.replace(".", "-") %}
      										<td id="{{allocationname}}"></td>

    											<td>
                            <a href="{{ url_for('view_resource', name=allocation.resource) }}">
                            {% for resource in resources %}
                              {% if allocation.resource == resource.name %}
                              <div>{{resource.displayname}}</div>
                              {% endif %}
                            {% endfor %}
                            </a>
                          </td>

                          <td>
                            {% if allocation.description == None or allocation.description == "" %}
                              Currently no description
                            {% else %}
                              <div id="allocation-description">{{allocation.description}}</div>
                            {% endif %}
                          </td>
    										</tr>
                          {% endif %}
    										{% endfor %}
    									</tbody>
    								</table>
                  </div><!-- /.table-responsive -->
  							</div><!-- /.panel filterable -->

                <div class="row">
          				<div class="col-md-12">
          					<div class="page-header">
          					  <h4>Allocation States</h4>
          					</div>
          					<div style="display:inline-block;width:100%;overflow-y:auto;">
            					<ul class="timeline timeline-horizontal">
            						<li class="timeline-item">
            							<div class="timeline-badge info"><i class="glyphicon glyphicon-share"></i></div>
            							<div class="timeline-panel">
            								<div class="timeline-heading">
            									<h5 class="timeline-title">New</h5>
            									<!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
            								</div>
            								<div class="timeline-body">
            									<p>The allocation has been defined, but has not yet been processed in any way.</p>
            								</div>
            							</div>
            						</li>
            						<li class="timeline-item">
            							<div class="timeline-badge warning"><i class="glyphicon glyphicon-hourglass"></i></div>
            							<div class="timeline-panel">
            								<div class="timeline-heading">
            									<h5 class="timeline-title">Authconfigure</h5>
            								</div>
            								<div class="timeline-body">
            									<p>The allocation has been validated, and login credentials are being created.</p>
            								</div>
            							</div>
            						</li>
            						<li class="timeline-item">
            							<div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
            							<div class="timeline-panel">
            								<div class="timeline-heading">
            									<h5 class="timeline-title">Ready</h5>
            								</div>
            								<div class="timeline-body">
            									<p>Login credentials have been created, and the allocation is now ready to be used.</p>
            								</div>
            							</div>
            						</li>
            					</ul>
          				  </div>
          				</div>
          			</div>

  						</div><!-- /.card-block -->
  					</div><!-- /.card -->

            <!-- <div id="ajaxTesting">
              <h5 id="test"></h5>
            </div> -->

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

<script>

var stateEntityList = {{allocationlist|safe}};
var stateEntityListLength = stateEntityList.length;
// var names = $('#allocationstate').getElementsByTagName('td');

// for (var i = 0; i < names.length; i++) {
//   var name = names[i].toString();
//   name.onload = get_states(name);
// };


window.onload = function (){
  for (var i = 0; i < stateEntityListLength; i++) {
    var name = stateEntityList[i];
    get_states(name);
  };
  setInterval( function(){
    get_states(name);
  }, 5000);
}

function get_states(name){
  $.ajax({
    url: "/rest/allocation/" + name,
    type: "get",
    dataType: 'json',
    success: function(data){
      var allocation_id = name.replace(".", "-")
      if(data.state == "validated"){
        $('#'+allocation_id).html("Ready");
      } else if(data.state == "new"){
        $('#'+allocation_id).html("New");
      } else if(data.state == "authconfigured"){
        $('#'+allocation_id).html("Authconfigured")
      }
      $('#test').html(data.state);
      if($('#test').length != 0){
        $('#test').css('color', 'red');
      }
    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

// $(document).ajaxComplete(function(){
//   if($('#test').length != 0){
//     $('#test').css('color', 'red');
//   }
// });

</script>

{%endblock%}
