{%extends "loginbase.html"%}

{%block title%}Allocations{%endblock%}

{%block body%}
{%include 'messages.html'%}


<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Allocations</h4>
            <div class="">
							<h5>A list of your current allocations</h5>
							<a href="{{url_for('create_allocation')}}" class="btn btn-primary btn-sm tour-step tour-step-four" title="Register New Allocation">+ New Allocation</a>
						</div>
						<hr/>
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">
  							<div class="panel panel-primary filterable">
  								<div class="panel-heading">
  									<h3 class="panel-title">My Allocations</h3>
  									<div class="pull-right">
  										<button class="btn btn-primary btn-sm btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  									</div>
  								</div>
                  <div class="table-responsive" style="overflow-x:auto;">
    								<table class="display table table-hover" width="100%">
    									<thead>
    										<tr class="filters">
    											<th><input type="text" class="form-control" placeholder="Allocation Profile" disabled></th>
    											<th><input type="text" class="form-control" placeholder="State" disabled></th>
    											<th><input type="text" class="form-control" placeholder="Resource" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Description" disabled></th>
    										</tr>
    									</thead>
    									<tbody data-link="row" class="rowlink">
    										{% for allocation in allocations %}
                          {% if allocation.owner == session['name'] %}
    										<tr>
    											<td>
                            <a href="{{ url_for('view_allocation', name=allocation.name) }}" title="View Allocation">{{ allocation.displayname }}</a>
                          </td>
                            {% if allocation.state == "validated" %}
      										<td id="allocationstates">
                            <font color="green">
                              <i class="fa fa-check-circle-o" style="color:green"></i>
                            </font>
                          </td>
                            {% elif allocation.state == "terminated" %}
                          <td id="allocationstates">
                            <font color="red">
                              <i class="fa fa-exclamation-circle" style="color:red"></i>
                            </font>
                          </td>
                            {% else %}
                          <td id="allocationstates">
                            <font color="orange">
                              <i class="fa fa-spinner fa-spin" style="color:orange"></i>
                            </font>
                          </td>
                            {% endif %}
    											<td>
                            <a href="{{ url_for('view_resource', name=allocation.resource) }}">
                            {% for resource in resources %}
                              {% if allocation.resource == resource.name %}
                              <div>{{resource.displayname}}</div>
                              {% endif %}
                            {% endfor %}
                            </a>
                          </td>
                          <td>
                            {% if allocation.description == None or allocation.description == "" %}
                              Currently no description
                            {% else %}
                              <div id="allocation-description">{{allocation.description}}</div>
                            {% endif %}
                          </td>
    										</tr>
                          {% endif %}
    										{% endfor %}
    									</tbody>
    								</table>
                  </div><!-- /.table-responsive -->
  							</div><!-- /.panel filterable -->

  						</div><!-- /.card-block -->
  					</div><!-- /.card -->

            <div id="ajaxTesting">
              <h5 id="test"></h5>
            </div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

<script>

var name = '{{allocationlist[-1]|safe}}';

window.onload = function(){
  get_states(name);
  setInterval( function(){
    get_states(name);
  }, 5000);
}

function get_states(name){
  $.ajax({
    url: "/rest/allocation/" + name,
    type: "get",
    dataType: 'json',
    success: function(data){
      $('#allocationstates').html(data.state);
      $('#test').html(data.state);
      if($('#test').length != 0){
        $('#test').css('color', 'red');
      }
    },
    error: function(xhr){
      //Do Something to handle error
    }
  });
}

// $(document).ajaxComplete(function(){
//   if($('#test').length != 0){
//     $('#test').css('color', 'red');
//   }
// });

</script>

{%endblock%}
