{%extends "loginbase.html"%}

{%block title%}Allocations{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Allocations</h4>
            <div class="">
							<h5>A resource allocation is used to assign the available quantity of computing time and storage resources to a specific project</h5>
							<a href="{{url_for('new_allocation')}}" class="btn btn-primary btn-sm">Connect Allocation</a>
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">
  							<div class="panel panel-primary filterable">
  								<div class="panel-heading">
  									<h3 class="panel-title">Allocation Profiles</h3>
  									<div class="pull-right">
  										<button class="btn btn-primary btn-sm btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  									</div>
  								</div>
  								<table class="table table-hover">
  									<thead>
  										<tr class="filters">
  											<th><input type="text" class="form-control" placeholder="Name" disabled></th>
  											<th><input type="text" class="form-control" placeholder="State" disabled></th>
  											<th><input type="text" class="form-control" placeholder="Resource" disabled></th>
  										</tr>
  									</thead>
  									<tbody data-link="row" class="rowlink">
  										{% for allocation in allocations %}
                        {% if allocation.owner == session['name'] %}
  										<tr>
  											<td><a href="{{ url_for('allocation_name', name=allocation.name) }}">{{ allocation.name }}</a></td>
                          {% if allocation.state == "validated" %}
    											<td><font color="green"><i class="fa fa-check-circle-o" style="color:green"></i> {{ allocation.state }} </font></td>
                          {% elif allocation.state == "terminated" %}
                          <td><font color="red"><i class="fa fa-exclamation-circle" style="color:red"></i> {{ allocation.state }} </font></td>
                          {% else %}
                          <td><font color="orange"><i class="fa fa-circle" style="color:orange"></i> {{ allocation.state }} </font></td>
                          {% endif %}
  											<td><a href="{{ url_for('resource_name', name=allocation.resource) }}"><option>{{allocation.resource}}</option></a></td>
  										</tr>
                        {% endif %}
  										{% endfor %}
  									</tbody>
  								</table>
  							</div>
  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
