{%extends "loginbase.html"%}

{%block title%}Register Allocations{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Register Allocation</h4>
						<hr />
          </div>

          <div class="content description">
						<!-- <h2>Define New Allocation</h2> -->
						<h5>An allocation is an allotted amount of CPU hours or service units (SU) of computing time on a specific resource</h5>

						<section id="new_allocation">
							<div class="container new-allocation">
								<form role="form" id="new-allocation-form" action="{{url_for('list_allocations')}}" method="POST">
								<!-- Logo -->
									<div class="col-lg-12 logo-vc3">
										<img width="100" class="logo" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Logo" />
									</div>

									<fieldset>
										<label for="name">Allocation Name</label>
										<input
											placeholder="Your Allocation name"
											name="name"
											type="text"
											tabindex="1"
											required
											autofocus
											value="{{request.name}}">
									</fieldset>
									<!-- <fieldset>
										<label for="owner">Owner</label>
										<input
											placeholder="Name of Owner"
											name="owner"
											type="text"
											tabindex="2"
											required
											autofocus
											value="{{request.owner}}">
									</fieldset> -->
									<fieldset>
										<label for="resource">Resource</label>
										<select class="form-control" name="resource" tabindex="2" id="form-resource-list" required>
											<option value="" selected disabled>Please Select Resource</option>
											{% for resource in resources %}
											<option value="{{resource.name}}">{{ resource.name }}</option>
											{% endfor %}
										</select>
                  </fieldset>
									<fieldset>
										<label for="accountname">Resource Account Name</label>
										<input
											placeholder="Account Name"
											name="accountname"
											type="text"
											tabindex="3"
											autofocus
											value="{{request.accountname}}">
									</fieldset>
									<fieldset>
										<button type="submit" id="create-project" data-submit="...Sending">Register Allocation</button>
									</fieldset>
								</form>
						  </div> <!-- allocation container -->
            </section>

          </div><!-- /.content description -->
        </div>
      </div>
		</div>
  </div>
</div>

{%endblock%}
