{%extends "loginbase.jinja2"%}

{%block title%}Allocations{%endblock%}

{%block body%}

				<div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Allocations</h4>
																<hr />
																<div class="row">
																	<div class="col-lg-8">
																		<div class="input-group">
																			<input type="text" class="form-control" placeholder="Search for...">
																			<span class="input-group-btn">
																				<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
																			</span>
																		</div><!-- /input-group -->
																	</div><!-- /.col-lg-8 -->

																	<div class="col-lg-4">
																		<a href="{{url_for('new_allocation')}}" class="btn btn-primary btn-sm">Define New Allocation</a>
																	</div>
																</div><!-- /.row -->

                            </div>

                            <div class="content description">
															<h2>Browse Known Resource Profiles</h2>

															<div class="card text-center">
															  <div class="card-header">
															    <ul class="nav nav-tabs card-header-tabs" role="tablist">
															      <li class="nav-item">
															        <a class="nav-link" data-toggle="tab" href="#campus" role="tab">Campus Resources</a>
															      </li>
															      <li class="nav-item">
															        <a class="nav-link" data-toggle="tab" href="#national" role="tab">National Resources</a>
															      </li>
															      <li class="nav-item">
															        <a class="nav-link" data-toggle="tab" href="#international" role="tab">International Resources</a>
															      </li>
															    </ul>
															  </div>
															  <div class="card-block">
																	<div class="tab-content">
																		<div class="tab-pane fade" id="campus" role="tabpanel">
																			<div class="card">
																				<h4 class="card-title">UChicago - Midway (SLURM)</h4>
																		    <p class="card-text">Resource Type: remote-batch</p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																		    <a href="#" class="btn btn-primary">More Info</a>
																			</div>
																			<div class="card">
																				<h4 class="card-title">University of Illinois - NCSA</h4>
																		    <p class="card-text">Resource Type: </p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																		    <a href="#" class="btn btn-primary">More Info</a>
																			</div>
																		</div>

																		<div class="tab-pane fade" id="national" role="tabpanel">
																			<div class="card">
																				<h4 class="card-title">Comet GPU (SDSC)</h4>
																				<p class="card-text">Resource Type: </p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																				<a href="#" class="btn btn-primary">More Info</a>
																			</div>
																			<div class="card">
																				<h4 class="card-title">Jetstream (IU/TACC)</h4>
																				<p class="card-text">Resource Type: </p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																				<a href="#" class="btn btn-primary">More Info</a>
																			</div>
																		</div>

																		<div class="tab-pane fade" id="international" role="tabpanel">
																			<div class="card">
																				<h4 class="card-title">Liebniz Supercomputing Centre - SuperMUC</h4>
																				<p class="card-text">Resource Type: </p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																				<a href="#" class="btn btn-primary">More Info</a>
																			</div>
																			<div class="card">
																				<h4 class="card-title">Compute Canada - Graham (GP3)</h4>
																				<p class="card-text">Resource Type: </p>
																				<p class="card-text">Access Mode: </p>
																				<p class="card-text">Submit Host: </p>
																				<p class="card-text">Submit Port: </p>
																				<a href="#" class="btn btn-primary">More Info</a>
																			</div>
																		</div>
																	</div><!-- /.tab-content -->
															  </div><!-- /.card-block -->
															</div><!-- /.card text-center -->

                            </div><!-- /.content description -->

                        </div>
                    </div>
								</div>

            </div>
        </div>

{%endblock%}
