{%extends "loginbase.html"%}

{%block title%}Edit Allocation{%endblock%}

{%block body%}

<div class="col-md-8 col-sm-12">
<section id="new_project">
  <div class="container new-project">
    <form role="form" id="new-project-form" action="{{url_for('edit_allocation', name=name)}}" method="POST">

      <h2>Edit Allocation</h2>
      <h5 style="color:black">An allocation is an allotted amount of CPU hours or service units (SU) of computing time on a specific resource</h5>
      <h4><label><span id="asterik">*</span> = indicates required</label></h4>

      <fieldset>
        <label for="displayname">Allocation Name <span id="asterik">*</span></label>
        <input
          placeholder="{{displayname}}"
          name="displayname"
          type="text"
          tabindex="1"
          autofocus
          required
          value="{{request.displayname}}"
          >
      </fieldset>
      <fieldset>
        <label for="description">Description</label>
        <textarea
          placeholder="Brief 144 Character Description..."
          name="description"
          tabindex="2"
          autofocus
          maxlength="144"
          value="{{request.description}}"
          >{{description}}</textarea>
      </fieldset>
      <fieldset>
        <button type="submit" id="create-project" data-submit="...Sending">Update Allocation</button>
      </fieldset>
    </form>
  </div> <!-- project container -->
</section>
</div>

{%endblock%}
