{%extends "loginbase.html"%}

{%block title%}Allocation Profile: {{name}}{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Allocation: {{name}}</h4>
            <div class="">
							<a href="{{url_for('allocation_edit', name=name)}}" class="btn btn-primary btn-sm">Update Allocation</a>
						</div>
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Owner</strong></h3>
                </div>
                <div class="panel-body">
                  {{owner}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Resource</strong></h3>
                </div>
                <div class="panel-body">
                  <a href="{{ url_for('resource_name', name=resource) }}"><option>{{resource}}</option></a>
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Account Name on Resource:</strong></h3>
                </div>
                <div class="panel-body">
                  {{accountname}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Public Token</strong></h3>
                </div>
                <!-- <div class="panel-body"> -->
                  <div class="panel-body pubtoken">
                    {% if pubtoken == "None" %}
                    <p>Pubic Token will be available once your allocation has been validated.</p>
                    {% else %}
                    <p>Paste this SSH public key into your ~/.ssh/authorized_keys file on the remote resource</p>
                    <textarea id="pubtoken" readonly disabled font-size="16">{{ pubtoken }}</textarea>
                    <!-- <button onclick="copyToClipboard('#pubtoken')" class="btn btn-primary btn-sm">Copy to Clipboard</button> -->
                    <div class="container">
                      <div class="span10">
                        <button class="btn btn-primary btn-sm" onclick="copyToClipboard('#pubtoken')">Copy to Clipboard</button>
                      </div>
                      <div class="span4">
                        <div class="alert alert-info fade">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" style="color:black">&times;</span>
                          </button>
                          Public token copied to clipboard
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                <!-- </div> -->
              </div>

              <!-- <span id="label"><h3 for="pubtoken">Public Token:</h3></span>
              <h5 class="alert alert-info">Paste this SSH public key into your ~/.ssh/authorized_keys file on the remote resource</h5>
              <div name="pubtoken">
                <textarea id="pubtoken" readonly disabled>{{ pubtoken }}</textarea>
                <button onclick="copyToClipboard('#pubtoken')" class="btn btn-primary btn-sm">Copy to Clipboard</button>
              </div> -->
	             <!-- <a href="{{url_for('allocation_edit', name=name)}}" class="btn btn-default">Update Allocation</a> -->

  					</div>
          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
