{%extends "loginbase.html"%}

{%block title%}Allocation Profile: {{displayname}}{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Allocation: {{displayname}}</h4>
            <h5>Description: {{description}}</h5>
            <!-- <div class="">
							<a href="{{url_for('edit_allocation', name=name)}}" class="btn btn-primary btn-sm">Update Allocation</a>
						</div> -->
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Owner</strong></h3>
                </div>
                <div class="panel-body disabled">
                {% for user in users %}
                  {% if user.name == owner %}
                    {{user.first}} {{user.last}}
                  {% endif %}
                {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Resource</strong></h3>
                </div>
                <div class="panel-body">
                  <a href="{{ url_for('view_resource', name=resource) }}">
                    {% for r in resources %}
                      {% if resource == r.name %}
                      <div>{{r.displayname}}</div>
                      {% endif %}
                    {% endfor %}
                  </a>
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Account Name on Resource:</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{accountname}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>SSH Public Key</strong></h3>
                </div>
                <!-- <div class="panel-body"> -->
                  <div class="panel-body pubtoken">
                    {% if pubtoken == "None" %}
                    <p>Your SSH Public Key will be available once your allocation has been validated. Please allow a few moments and refresh the page.</p>
                    <div>
                      <font color="orange">Current State: <i class="fa fa-spinner fa-spin" style="color:orange"></i> {{ state }} </font>
                    </div>
                    {% else %}
                    <p>To use this resource, paste this SSH Public Key into your ~/.ssh/authorized_keys file on the remote resource</p>
                    <textarea id="pubtoken" readonly disabled font-size="16">{{ pubtoken }}</textarea>
                    <!-- <button onclick="copyToClipboard('#pubtoken')" class="btn btn-primary btn-sm">Copy to Clipboard</button> -->
                    <div class="container">
                      <div class="span10">
                        <button class="btn btn-primary btn-sm" onclick="copyToClipboard('#pubtoken')">Copy to Clipboard</button>
                      </div>
                      <div class="span4">
                        <div class="alert alert-warning fade">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" style="color:black">&times;</span>
                          </button>
                          SSH Public Key copied to clipboard
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                <!-- </div> -->
              </div>

  					</div>
          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
