{%extends "loginbase.html"%}

{%block title%}Edit Allocation{%endblock%}

{%block body%}


<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_allocations')}}">Allocations</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('view_allocation', name=name)}}">{{displayname}}</a></li>
              <li class="breadcrumb-item active">Edit Allocation</li>
            </ol>
            <h4 class="title">Edit GSISSH Allocation</h4>
            <h5>You may update your allocation information.</h5>
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('edit_allocation', name=name)}}" method="POST">

                    <div class="form-group">
                      <label for="displayname">Allocation Name <span id="asterik">*</span></label>
                      <input
                        placeholder="{{displayname}}"
                        name="displayname"
                        class="form-control border-input"
                        type="text"
                        tabindex="1"
                        autofocus
                        required
                        >
                    </div>

                    <div class="form-group">
                      <label for="privtoken">Private Token x509 Proxy <span id="asterik">*</span></label>
                      <textarea name="privtoken" id="privtoken" rows="8" cols="80" class="form-control border-input" placeholder="x509 Proxy" required></textarea>
                    </div>

                    <div class="form-group">
                      <a href="{{url_for('list_allocations')}}" class="btn btn-primary" tabindex="3" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="4" class="btn btn-create">Update Allocation</button>
                    </div>
                  </form>
        				</div>

        			</div> <!-- row -->
            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->
    </div><!-- ./row -->
  </div><!-- ./container-fluid -->
</div><!-- ./content -->

<script>
var name = {{name|tojson}};
var privtoken = {{privtoken|tojson}};

window.onload = setEditGroupFields(name, privtoken);

function setEditGroupFields(name, privtoken){
  document.getElementById('displayname').value = name;
  document.getElementById('privtoken').value = privtoken;
}

</script>
{%endblock%}
