<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />

    <title>Virtual Clusters | VC3 - {%block title%}{%endblock%}</title>

    {# CSS files #}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jarostyle.css')}}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">

    {# Custom Fonts #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Added font below -->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    {# Place your favicon.ico and apple-touch-icon.png in the template root directory}
    <link href="favicon.ico" rel="shortcut icon">

    {# JavaScript files #}
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> -->
    <script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>

    <!-- Required JavaScript Libraries -->
    <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/morphext/morphext.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/stickyjs/sticky.js')}}"></script>
    <script src="{{url_for('static', filename='lib/easing/easing.js')}}"></script>

    <script src="contactform/contactform.js"></script>

  </head>
  <body>
    <nav id="header" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo" class="pull-left">
          <a href="{{url_for('home')}}"><img src="https://image.ibb.co/e59s3v/logosmall.png" alt="" title="" /></img> <strong>VC3</strong></a>
          </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- Display these links only is user is authenticated -->
            <!-- Change the condition below to an actual test -->
            {%if session.get('is_authenticated')%}
              <li>
                <a href="{{url_for('transfer')}}">Transfer</a>
              </li>
              <li class="divider">|</li>

              <li>
                <a href="{{url_for('graph')}}">Graph</a>
              </li>
              <li class="divider">|</li>

              <li class="menu-has-children"><a href="{{url_for('profile')}}">Profile</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="menu-has-children"><a href="#">Drop Down 2</a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li>
              <li class="divider">|</li>

              <li>
                <a href="{{url_for('logout')}}">Logout</a>
              </li>
              <li class="divider">|</li>

              <li>
                <a href="{{url_for('profile')}}">{{session["primary_username"]}}</a>
              </li>
            <!-- Display these links if user is not authenticated -->
            {%else%}
              <li><a href="{{url_for('news')}}">News</a></li>
              <li><a href="{{url_for('documentations')}}">Documentations</a></li>
              <li><a href="{{url_for('team')}}">Team</a></li>
              <li><a href="{{url_for('contact')}}">Contact Us</a></li>
               <li>
                <a href="{{url_for('login')}}">Login</a>
              </li>
              <li>
                <a href="{{url_for('signup')}}">Sign Up</a>
              </li>
            {%endif%}
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>
    <!-- Page body -->
    {%block body%}
    {%endblock%}

    <!-- Page footer -->
    {%include 'footer.jinja2'%}

  </body>
</html>
