{%extends "base.jinja2"%}

{%block title%}Blog | {{ page.title }}{%endblock%}

{%block body%}

<section id="blog_article">
  <div id="blog_article" class="container content wow fadeInUp">

    <h2>{{ page.title }}</h2>
    <p>{{ page.date}}</p>
    {{ page.html|safe }}

  </div>
</section>

{% endblock %}
