{%extends "base.jinja2"%}

<!-- {%block title%}Blog{%endblock%} -->

{%block body%}

<section id="blog">
{% with pages=pages %}
  <div class="container content wow fadeInUp">
    <div class="row">
      <div class="col-sm-8">
          <h1><strong><span id="blog-title">VC3 Blog</strong></span></h1>

          {% include "_list.jinja2" %}

      </div>

      <div class="col-sm-4 blog-sidebar">
        <div class="blog-sidebar-section">
          <h2>Tags</h2>

            {% for page in pages %}
              {% if page.meta.tags|length %}
                  {% for page_tag in page.meta.tags %}
                      <h3>{{ page_tag }}</h3>
                  {% endfor %}
                  <ul>
                    <li>
                      <a href="{{ url_for('page', path=page.path) }}">{{ page.title}}</a>
                    </li>
                  </ul>
              {% endif %}
            {% endfor %}

          </div>
        </div>

      </div>
    </div>
  {% endwith %}
</section>


{%endblock%}
