{%extends "base.jinja2"%}

{%block title%}Blog{%endblock%}

{%block body%}

  <article class="blog">

    <h2>List of tagged <em>{{ tag }}</em></h2>
    {% with pages=pages  %}
        {% include "_list.jinja2" %}
    {% endwith %}

  </article>

{%endblock%}
