{%extends "loginbase.html"%}

{%block title%}Edit Cluster Template{%endblock%}

{%block body%}

<div class="col-md-8 col-sm-12">
<section id="new_project">
  <div class="container new-project">
    <form role="form" id="new-project-form" action="{{url_for('cluster_name', name=name)}}" method="POST">

      <!-- Logo -->
      <!-- <div class="col-lg-12 logo-vc3">
        <img width="100" class="logo" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Logo" />
      </div> -->
      <h3>Edit Cluster Template: <small style="color:#111">{{name}}</small></h3>
      <h4>Template Details</h4>

      <fieldset>
        <label for="app_type">Cluster Framework</label>
        <select class="form-control" name="app_type" tabindex="1" id="form-resource-list" required>
          <option selected disabled>
            {% for nodeset in nodesets %}
              {% if nodeset.name == name %}
                {{nodeset.app_type}}
              {% endif %}
            {% endfor %}
          </option>
          <option value="htcondor">HTCondor</option>
          <option value="workqueue">WorkQueue</option>
        </select>
      </fieldset>
      <!-- <fieldset>
        <label for="app_role">App Role</label>
        <select class="form-control" name="app_role" tabindex="3" id="form-resource-list" required>
          <option value="" selected disabled>Please Select App Role</option>
          <option value="head-node">head-nodes</option>
          <option value="worker-nodes">worker-nodes</option>
        </select>
      </fieldset> -->
      <fieldset>
        <label for="node_number">Number of Nodes:</label>
        <input
          placeholder="1"
          name="node_number"
          type="number"
          min="1"
          max="1000000"
          tabindex="2"
          required
          autofocus
          value="{{node_number}}">
      </fieldset>
      <!-- <fieldset>
        <label for="cores">Number of Cores (between 1 and 20)</label>
        <input
          placeholder="0"
          name="cores"
          type="number"
          min="1"
          max="20"
          tabindex="5"
          required
          autofocus
          value="{{request.cores}}">
      </fieldset> -->
      <fieldset>
        <button type="submit" id="create-project" data-submit="...Sending">Update Cluster Template</button>
      </fieldset>
    </form>
  </div> <!-- project container -->
</section>
</div>

{%endblock%}
