{%extends "loginbase.html"%}

{%block title%}Cluster Template Profile: {{name}}{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_clusters')}}">Cluster Templates</a></li>
              <li class="breadcrum-item active">{{name}}</li>
            </ol>
          	<h4 class="title row">Cluster Template: {{displayname}}</h4>
            <div class="row">
              <h5>Description: {{description}}</h5>
            </div>
            {% if session['name'] == owner %}
            <div class="container row">
              <div class="pull-left col-sm-12 col-md-6">
							  <a href="{{url_for('edit_cluster', name=name)}}" class="btn btn-primary btn-sm">Update Cluster Template</a>
						  </div>
              <div class="delete_entity col-sm-12 col-md-6">
  							<a href="{{url_for('delete_cluster', name=name)}}" class="btn btn-danger btn-sm">Delete Cluster Template</a>
  						</div>
            </div>
            {% endif %}
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Owner</strong></h3>
                </div>
                <div class="panel-body disabled">
                {% for user in users %}
                  {% if user.name == owner %}
                    {{user.first }} {{user.last}}
                  {% endif %}
                {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>State</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{state}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Cluster Template Framework</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {% for nodeset in nodesets %}
                    {% if nodeset.name == name %}
                      {{ nodeset.app_type }}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Number of Compute Workers</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {% for nodeset in nodesets %}
                    {% if nodeset.name == name %}
                      {{ nodeset.node_number }}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

  					</div>
          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
