{%extends "loginbase.html"%}

{%block title%}Edit Cluster Template{%endblock%}

{%block body%}


<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_clusters')}}">Cluster Templates</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('view_cluster', name=name)}}">{{name}}</a></li>
              <li class="breadcrumb-item active">Edit Cluster Template</li>
            </ol>
            <h4 class="title">Edit Cluster Template</h4>
            <!-- <h5>An allocation is an allotted amount of CPU hours or service units (SU) of computing time on a specific resource</h5> -->
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('edit_cluster', name=name)}}" method="POST">

                    <div class="form-group">
                      <label for="app_type">Cluster Framework <span id="asterik">*</span></label>
                      <select class="form-control border-input" name="app_type" tabindex="1" id="form-framework-list" required>
                        <option value="htcondor" id="htcondor">HTCondor</option>
                        <option value="workqueue" id="workqueue">WorkQueue</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="node_number">Number of Compute Workers: <span id="asterik">*</span></label>
                      <input
                        name="node_number"
                        class="form-group border-input"
                        type="number"
                        min="1"
                        max="1000000"
                        tabindex="2"
                        required
                        autofocus
                        value="{{node_number}}">
                    </div>

                    <!-- <div class="form-group">
                      <label for="description">Description (optional)</label>
                      <textarea
                        placeholder="A brief description..."
                        name="description"
                        class="form-control border-input"
                        id="form-textarea"
                        tabindex="3"
                        rows="5"
                        autofocus
                        maxlength="144"
                        value="{{request.description}}"
                        >{{description}}</textarea>
                      <span class="help-block exceeded"></span>
                    </div> -->

                    <div class="form-group">
                      <a href="{{url_for('view_cluster', name=name)}}" class="btn btn-primary" tabindex="3" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="4" class="btn btn-create">Update Cluster Template</button>
                    </div>
                  </form>
        				</div>

        			</div> <!-- row -->
            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->
    </div><!-- ./row -->
  </div><!-- ./container-fluid -->
</div><!-- ./content -->


<script>


window.onload = autoSelect('form-framework-list', '{{framework}}');

function autoSelect(a,b) {
  var selector = document.getElementById(a);
  selector.value = b
}

</script>
{%endblock%}
