{%extends "loginbase.html"%}

{%block title%}Edit Cluster Template{%endblock%}

{%block body%}

<div class="col-md-8 col-sm-12">
<section id="new_project">
  <div class="container new-project">
    <form role="form" id="new-project-form" action="{{url_for('edit_cluster', name=name)}}" method="POST">

      <h2>Edit Cluster Template: <small style="color:#111">{{name}}</small></h2>
      <h4><label><span id="asterik">*</span> = indicates required</label></h4>

      <fieldset>
        <label for="app_type">Cluster Framework <span id="asterik">*</span></label>
        <select class="form-control" name="app_type" tabindex="1" id="form-framework-list" required>
          <option value="htcondor" id="htcondor">HTCondor</option>
          <option value="workqueue" id="workqueue">WorkQueue</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="node_number">Number of Nodes: <span id="asterik">*</span></label>
        <input
          name="node_number"
          type="number"
          min="1"
          max="1000000"
          tabindex="2"
          required
          autofocus
          value="{{node_number}}">
      </fieldset>
      <fieldset>
        <label for="description">Description</label>
        <textarea
          placeholder="Brief 144 Character Description..."
          name="description"
          tabindex="3"
          autofocus
          maxlength="144"
          value="{{description}}"
          >{{description}}</textarea>
      </fieldset>
      <fieldset>
        <button type="submit" id="create-project" tabindex="4" data-submit="...Sending">Update Cluster Template</button>
      </fieldset>
    </form>
  </div> <!-- project container -->
</section>
</div>

<script>


window.onload = autoSelect('form-framework-list', '{{framework}}');

function autoSelect(a,b) {
  var selector = document.getElementById(a);
  selector.value = b
}

</script>
{%endblock%}
