{%extends "base.jinja2"%}

{%block title%}Community{%endblock%}

{%block body%}

<!--==========================
  Community Section
============================-->
  <section id="community">
    <div class="container wow fadeInUp">

      <div class="row">
        <div class="col-md-8">
          <h3 class="community-title" id="communitytitle">Community</h3>
          <p class="community-text">Engage intellect and ideas with the VC3
          community on our <strong><a href="https://vc3-project.slack.com" target="_blank">Slack channel</a></strong>
          or join the VC3-dev Google group. A weekly developers meeting takes
          place via Zoom video conference, in order to discuss the state of affairs.</p>
        </div>
        <div class="col-md-4 community-btn-container">
          <a class="community-btn" data-toggle="modal" href="#community">Learn More</a>
        </div>
      </div><!-- row -->

      <div class="row" id="calendar">
        <div class="col-md-12">
          <h3 class="community-title">Embed Google Calendar Here</h3>
        </div>
      </div> <!-- row -->

      <div class="section-title-divider"></div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="community-title">Talk to Us!</h3>
          <p class="community-text">We would love to hear from you, how you are
          VC3, and what we can do to improve your experience.</p>

          <div class="row">
            <div id="bigSocial">

            <div class="col-sm-12 col-md-4 col-lg-4">
              <a href="https://twitter.com/virtualclusters" target="_blank">
                <i class="fa fa-twitter fa-5x"></i>
              </a>
              <p>Get the latest news and updates</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
              <a href="https://github.com/vc3-project" target="_blank">
                <i class="fa fa-github-alt fa-5x"></i>
              </a>
              <p>Take a look under the hood</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
              <a href="https://vc3-project.slack.com" target="_blank">
                <i class="fa fa-slack fa-5x"></i>
              </a>
              <p>Out Slack channel is a great way to connect with our team and
              contribute your ideas</p>
            </div>

          </div><!-- big social -->

        </div><!-- row -->
      </div><!-- row -->

    </div><!-- wow fadeInUp -->
  </section>

{%endblock%}
