{%extends "loginbase.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}


<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">VC3 Dashboard</h4>
            <div class="">
              <!-- <h5>A cluster is a complete collection of nodes with networking and file storage facilities</h5> -->
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">
								<iframe src="https://grafana.mwt2.org/dashboard/db/vc3?orgId=1&from=-6h&to=now"
								width="100%" height="950" frameborder="0"></iframe>
  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
