{%extends "loginbase.jinja2"%}

{%block title%}Dashboard{%endblock%}

{%block body%}

				<div class="content" id="dashboard">
            <div class="container-fluid">

							<div class="row">
								<div class="col-sm-12">
									<div class="card container" id="card-container">
										<div class="header">
											<h4 class="title">Cluster Queue</h4>
											<p class="category">Dashboard category</p>
										</div>
										<div class="content">
											<iframe src="https://grafana.mwt2.org/dashboard-solo/db/osg-connect-queue?orgId=1&from=-24h&to=now&var-Brand=osgconnect&panelId=10&theme=dark" width="100%" height="200" frameborder="0"></iframe>
										</div>
									</div>
								</div>
							</div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Memory Utilization</h4>
                                <p class="category">Dashboard category</p>
                            </div>
                            <div class="content">
															<iframe src="https://grafana.mwt2.org/dashboard/db/login01-osgconnect-net?refresh=5m&panelId=2&fullscreen&orgId=1&from=-24h&to=now&theme=dark" width="100%" height="400px" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
								</div>

								<div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">OSG Connect</h4>
                                <p class="category">Running Jobs</p>
                            </div>
                            <div class="content">
															<iframe src="https://grafana.mwt2.org/dashboard-solo/db/osg-connect-running-by-provider?orgId=1&from=-24h&to=now&panelId=5&theme=dark" width="100%" height="400px" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{%endblock%}
