{%extends "loginbase.jinja2"%}

{%block title%}Dashboard{%endblock%}

{%block body%}

				<div class="content">
            <div class="container-fluid">
							<div class="row">
									<div class="col-md-8 col-lg-12">
											<div class="card">
													<div class="header">
														<h4 class="title">OSG Connect Queue</h4>
															<p class="category">Dashboard category</p>
													</div>
													<div class="content container">
														<iframe src="https://grafana.mwt2.org:3000/dashboard-solo/db/osg-connect-queue?orgId=1&from=1497747275130&to=1497833675130&var-Brand=osgconnect&panelId=10&theme=dark" width="100%" height="200" frameborder="0" class="col-sm-12 col-md-6 col-lg-4"></iframe>
														<iframe src="https://grafana.mwt2.org:3000/dashboard-solo/db/osg-connect-queue?orgId=1&from=1497747371426&to=1497833771426&var-Brand=osgconnect&panelId=11&theme=dark" width="100%" height="200" frameborder="0" class="col-sm-12 col-md-6 col-lg-4"></iframe>
														<iframe src="https://grafana.mwt2.org:3000/dashboard-solo/db/osg-connect-queue?orgId=1&from=1497747385545&to=1497833785545&var-Brand=osgconnect&panelId=12&theme=dark" width="100%" height="200" frameborder="0" class="col-sm-12 col-md-6 col-lg-4"></iframe>
													</div>
											</div>
									</div>
							</div>

                <div class="row">
                    <div class="col-md-8 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Memory Utilization</h4>
                                <p class="category">Dashboard category</p>
                            </div>
                            <div class="content">
															<iframe src="https://grafana.mwt2.org:3000/dashboard/db/login01-osgconnect-net?refresh=5m&panelId=2&fullscreen&orgId=1&from=1496816358818&to=1496859558818&theme=dark" width="100%" height="400px" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
								</div>

								<div class="row">
                    <div class="col-md-8 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">OSG Connect</h4>
                                <p class="category">Running Jobs</p>
                            </div>
                            <div class="content">
															<iframe src="https://grafana.mwt2.org:3000/dashboard-solo/db/osg-connect-running-by-provider?orgId=1&from=1496781714276&to=1496868114276&panelId=5&theme=dark" width="100%" height="400px" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{%endblock%}
