{%extends "base.jinja2"%}

{%block title%}Documentations{%endblock%}

{%block body%}

<!--==========================
  Documentations Section
============================-->
  <section id="documentations">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="documentations-title">Documentations</h3>
          <p class="documentations-text">Display content of read-only VC3 info-service. Documents button may lead to another documentation page, or perhaps a PDF modal.</p>
        </div>
        <div class="col-md-4 documentations-btn-container">
          <a class="documentations-btn" data-toggle="modal" href="#documentations">Learn More</a>
        </div>
      </div>
    </div>
  </section>

{%endblock%}
