{%extends "loginbase.html"%}

{%block title%}Error{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="header">
              <h2 class="title">Thanks for your interest in VC3!</h2>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">
              <h5>You are required to have a valid institutional affliation in
                order to access VC3 services.Please contact
                <a href="mailto:dthain@nd.edu">Doug Thain</a>,
                <a href="mailto:rwg@uchicago.edu">Rob Gardner</a>, or
                <a href="mailto:jhover@bnl.gov ">John Hover</a> if you'd
                  to get more information or access to the system.
              </h5>
  					</div>
          </div><!-- /.card-block -->

        </div>
  		</div>
    </div>
  </div>
</div>

{%endblock%}
