{%extends "loginbase.html"%}

{%block title%}Environments{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <li class="breadcrumb-item active">Environments</li>
            </ol>
          	<h4 class="title">Environments</h4>
            <div class="">
							<h5>A list of your current environments</h5>
							<a href="{{url_for('create_environment')}}" class="btn btn-primary btn-sm" title="Create New Environment">+ New Environment</a>
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">

  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
