{%extends "loginbase.html"%}

{%block title%}Create Environment{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_environments')}}">Environments</a></li>
              <li class="breadcrumb-item active">Create New Environment</li>
            </ol>
            <h4 class="title">Create New Environment</h4>
            <h5></h5>
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('create_environment')}}" method="POST">

                    <div class="form-group">
                      <label for="name">Environment Name <span id="asterik">*</span></label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Environment Name"
                        class="form-control"
                        required="required"
                        tabindex="1"
                        value="{{name}}"
                      >
                    </div>

                    <div class="form-group">
                      <label for="packagelist">Package List</label>
                      <select class="form-control selectpicker"
                      multiple name="packagelist"
                      tabindex="2" id="form-resource-list"
                      data-live-search="true" data-actions-box="true"
                      data-header="Select Packages">
                        <!-- <option value="" selected disabled>Please Select Package List</option> -->
                        {% for recipe in recipes %}
                        <option data-tokens="{{recipe}}" value="{{recipe}}">{{ recipe }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="required_os">Operating Systems List (Optional)</label>
                      <select class="form-control selectpicker"
                      name="required_os"
                      tabindex="3" id="form-resource-list"
                      data-live-search="true"
                      data-header="Select Operating System (leave blank to use native OS)">
                        <option value="" selected disabled>Select Operating System</option>
                        {% for os in oss %}
                        <option data-tokens="{{os}}" value="{{os}}">{{ os }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="cores">Max Cores per Worker: <span id="asterik">*</span></label>
                      <input
                        placeholder="# Max Core per Worker"
                        name="cores"
                        class="form-control border-input"
                        type="number"
                        min="1"
                        max="1000000"
                        tabindex="4"
                        required
                        style="width:20%"
                        value="{{cores}}">
                    </div>

                    <div class="form-group">
                      <label for="memory">Max Memory per Core (GB): <span id="asterik">*</span></label>
                      <input
                        placeholder="# Max Memory per Core"
                        name="memory"
                        class="form-control border-input"
                        type="number"
                        min="1"
                        max="1000000"
                        tabindex="5"
                        required
                        style="width:20%"
                        value="{{memory}}">
                    </div>

                    <div class="form-group">
                      <label for="disk">Max Disk per Worker (GB): <span id="asterik">*</span></label>
                      <input
                        placeholder="# Max Disk per Worker"
                        name="disk"
                        class="form-control border-input"
                        type="number"
                        min="1"
                        max="1000000"
                        tabindex="6"
                        required
                        style="width:20%"
                        value="{{disk}}">
                    </div>

                    <div class="form-group">
                      <label for="min_runtime">Minimum Runtime (Hours): <span id="asterik">*</span></label>
                      <input
                        placeholder="# Minimum Runtime"
                        name="min_runtime"
                        class="form-control border-input"
                        type="number"
                        min="1"
                        max="1000000"
                        tabindex="7"
                        required
                        style="width:20%"
                        value="{{min_runtime}}">
                    </div>

                    <div class="form-group">
                      <a href="{{url_for('list_environments')}}" class="btn btn-primary" tabindex="6" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="7" class="btn btn-create">Create New Environment</button>
                    </div>
                  </form>
        				</div>

        			</div> <!-- row -->
            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->

    </div>
  </div>
</div>

{%endblock%}
