{%extends "loginbase.html"%}

{%block title%}Create Environment{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('home')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_environments')}}">Environments</a></li>
              <li class="breadcrumb-item active">Create New Environment</li>
            </ol>
            <h4 class="title">Create New Environment</h4>
            <h5>Brief overview description of what an environment is here</h5>
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('create_environment')}}" method="POST">

                    <div class="form-group">
                      <label for="name">Environment Name <span id="asterik">*</span></label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Environment Name"
                        class="form-control"
                        required="required"
                        tabindex="1"
                        value="{{name}}"
                      >
                    </div>

                    <div class="form-group">
                      <label for="packagelist">Package List <span id="asterik">*</span></label>
                      <select class="form-control selectpicker"
                      multiple name="packagelist"
                      tabindex="2" id="form-resource-list"
                      required data-live-search="true" data-actions-box="true"
                      data-header="Select Packages">
                        <option value="" selected disabled>Please Select Package List</option>
                        {% for recipe in recipes %}
                        <option data-tokens="{{recipe}}" value="{{recipe}}">{{ recipe }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea
                        placeholder="You may enter a brief description here...(optional)"
                        name="description"
                        tabindex="3"
                        style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
                        value=""
                        >{{description}}</textarea>
                    </div>

                    <div class="form-group">
                      <button type="submit" tabindex="4" class="btn btn-primary">Create New Environment</button>
                    </div>
                  </form>
        				</div>

        			</div> <!-- row -->
            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->

    </div>
  </div>
</div>

{%endblock%}
