{%extends "loginbase.html"%}

{%block title%}Error{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Error <i class="fa fa-exclamation-circle" style="color:red"></i></h4>
            <div class="">
							<h5>An error has occurred!</h5>
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">
                <p><i class="fa fa-window-close" aria-hidden="true" style="color:red"></i> Please return from whenst you came...</p>
  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
