<!-- Footer -->

  <footer id="footer">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>About the VC3 Project</h3>
            <p>Virtual Clusters for Community Computation</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>Explore</h3>
            <ul><a href="/news">News</a></ul>
            <ul><a href="/team">Team</a></ul>
            <ul><a href="/documentations">Documentations</a></ul>
            <ul><a href="/contact">Contact Us</a></ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>Follow Us</h3>
            <div class="social">
              <a href="https://twitter.com/virtualclusters" target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href="https://github.com/vc3-project" target="_blank">
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a href="http://virtualclusters.org/feed.xml" target="_blank">
                <i class="fa fa-feed fa-2x"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="section-title-divider"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; 2016 Brookhaven National Laboratory, The University of Chicago, and Argonne National Laboratory.
            </div>
            <div class="credits">
              Supported by the Department of Energy Office of Advanced Scientific Computing Research and Next Generation Networking Services, Solicitation DE-­FOA­0001344 (DDRM), Proposal 0000219942.
            </div>
          </div>
        </div><!-- #row -->
      </div><!-- #container -->
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
