<!-- Footer -->

  <footer id="footer">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>About the VC3 Project</h3>
            <p>Virtual Clusters for Community Computation</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4" id="explore">
            <h3>Explore</h3>
            <ul><a href="/blog">Blog</a></ul>
            <ul><a href="/team">Team</a></ul>
            <ul><a href="/community">Community</a></ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>Follow Us</h3>
            <div class="social">
              <a href="https://twitter.com/virtualclusters" target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href="https://github.com/vc3-project" target="_blank">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="section-title-divider"></div>

        <div class="container" id="partners">
          <div class="col-lg-4 col-sm-12"><a class="partners-logo" href="https://www.bnl.gov/world/" target="_blank"><img src="https://image.ibb.co/fdRpGF/brookhaven_national_laboratory.png"></a></div>
          <div class="col-lg-4 col-sm-12"><a class="partners-logo" href="https://www.uchicago.edu/" target="_blank"><img src="https://image.ibb.co/bObLqa/university_of_chicago.png"></a></div>
          <div class="col-lg-4 col-sm-12"><a class="partners-logo" href="https://www.nd.edu/" target="_blank"><img src="https://image.ibb.co/cHrybF/university_of_notre_dame.png"></a></div>
          <div class="row col-lg-6">
            <a class="partners-logo" href="https://science.energy.gov/ascr/" target="_blank"><img src="https://image.ibb.co/fv2h3v/department_of_energy.png"></a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; 2017 The University of Chicago
            </div>
            <div class="credits">
              Supported by the Department of Energy Office of Advanced Scientific Computing Research and Next Generation Networking Services, Solicitation DE-­FOA­0001344 (DDRM), Proposal 0000219942.
            </div>
          </div>
        </div><!-- #row -->
      </div><!-- #container -->
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
