<!-- Footer -->

  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; 2016 Brookhaven National Laboratory, <strong>The University of Chicago</strong>, and Argonne National Laboratory.
            </div>
            <div class="credits">
              Supported by the Department of Energy Office of Advanced Scientific Computing Research and Next Generation Networking Services, Solicitation DE-­FOA­0001344 (DDRM), Proposal 0000219942.
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{%include 'scripts.jinja2'%}
