{%extends "base.html"%}

{%block title%}Virtual Clusters for Community Computation{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<!-- Main Content -->

  <section id="hero">
    <div class="hero-container wow fadeIn">
        <div class="hero-logo">
          <img class="" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Virtual Clusters 3">
        </div>

        <h1>Virtual Clusters for Community Computation</h1>
        <h2><span class="rotating">Deploy HTCondor and WorkQueue clusters/ Integrate diverse HPC resources/ Enable collaborative science/ Open to beta testers early 2018 </span></h2>
        <div class="actions">
          <a href="#aboutt" class="btn-about-vc3">About VC3</a>
          <a href="{{url_for('signup')}}" class="btn-about-vc3">Sign Up</a>
        </div>
    </div>
  </section>

  <section id="about" class="container wow fadeInLeft">
    <div class="container" id="about-vc3">
      <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
        <img src="https://image.ibb.co/eOOgHF/homepagev4.png">
      </div>
      <div class="content container col-sm-12 col-md-8 col-lg-8">
        <h3 class="section-title"><span id="brand">VC3</span> automates deployment of cluster frameworks to access diverse computing resources for collaborative science teams
        </h3>
      </div>
    </div>
  </section>

  <div class="vc3-divider-img">
    <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
  </div>

  <section id="about" class="container wow fadeInUp">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://image.ibb.co/dce2Sv/illustration_vc3.png">
              </div>
              <div class="content col-sm-12 col-md-6 col-lg-6">
                <h3 class="section-title">Virtual Clusters for Community Computation</h3>
                <div class="section-title-divider"></div>
                <h4 class="section-description">
                  A platform for provisioning cluster frameworks over heterogeneous computing resources
                </h4>
              </div>
            </div>

            <div class="item">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://image.ibb.co/dSFjua/illustration_clients2.png">
              </div>
              <div class="content col-sm-12 col-md-6 col-lg-6">
                <h3 class="section-title">For User Communities</h3>
                <div class="section-title-divider"></div>
                <h4 class="section-description">Combine your resource allocations and cloud credits into virtual clusters, controlled by middleware frameworks and policies you define, shared with collaborators you choose. </h4>
              </div>
            </div>

            <div class="item">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://image.ibb.co/dv1tZa/illustration_resource_providers.png">
              </div>
              <div class="content col-sm-12 col-md-6 col-lg-6">
                <h3 class="section-title">For High Performance and High-Throughput Computing Resource Providers</h3>
                <div class="section-title-divider"></div>
                <h4 class="section-description">Build hybrid systems to connect on-premise resources with those from partner institutions and commercial providers to accelerate scientific collaborations.</h4>
              </div>
            </div>

            <div class="item">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://image.ibb.co/jJabnv/illustration_developers.png">
              </div>
              <div class="content col-sm-12 col-md-6 col-lg-6">
                <h3 class="section-title">For Workload System and Science Gateway Developers</h3>
                <div class="section-title-divider"></div>
                <h4 class="section-description">Deal with resources in the abstract when you want to, or get more details when you need them. The VC3 platform provisions diverse resources to your workload management system or science gateway.</h4>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
    </div>
  </section>

  <div class="vc3-divider-img">
    <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
  </div>

  
{%endblock%}
