{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<!-- Main Content -->
<div class="container">
  {%include 'messages.jinja2'%}
</div>

  <section id="hero">
    <div class="hero-container wow fadeIn">
        <div class="hero-logo">
          <img class="" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Virtual Clusters 3">
        </div>

        <h1>VC3 Platform</h1>
        <h2><span class="rotating">User Communities, HPC Cloud and Grid Service Providers, Workload Developers, Discover, Orchestrate</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">About VC3</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
    </div>
  </section>

<!--==========================
  About Section
============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="https://image.ibb.co/dojhXa/vc3vizv2.png">
        </div>
        <div class="content col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <h3 class="section-title"><span id="brand">VC3</span> is a platform for organizing and automating delivery of scientific computing resources into a single logical environment.</h3>
          <p class="section-description">some more words some more words some more words some more words
          some more words some more words some more words some more words some more words some more words
          some more words some more words some more words some more words some more words some more words
          some more words some more words some more words some more words some more words some more words</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="http://virtualclusters.org/images/illustration-vc3.png">
        </div>
        <div class="content col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">Virtual Clusters for Community Computation</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">A platform for organizing and automating delivery of scientific computing resources into a single logical environment.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="http://virtualclusters.org/images/illustration-resource-providers.png">
        </div>
        <div class="content col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">HPC, Cloud and Grid Service Providers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">VC3 will offer new approaches to present your HPC resources to scientific collaborations, large or small, or individual investigators.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="http://virtualclusters.org/images/illustration-developers.png">
        </div>
        <div class="content col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">Workload Developers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Deal with resources in the abstract when you want to, or get more details when you need them. VC3 platforms will host modular services that orchestrate delivery of infrastructure to workload management systems.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="http://virtualclusters.org/images/illustration-resource-providers.png">
        </div>
        <div class="content col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">User Communities</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Bring your institutional HPC cluster, INCITE/XSEDE allocation, or cloud resource into a single environment, controlled by policies you define.</h4>
        </div>
      </div>
     </div>
    </section>

<!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Service Workflow</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Automate processes that discover, provision, and orchestrate the resources to build virtual clusters</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-database"></i></div>
          <h4 class="service-title"><a href="">Virtual Clusters for Community Computation</a></h4>
          <p class="service-description">A platform for organizing and automating delivery of scientific computing resources into a single logical environment.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-users"></i></div>
          <h4 class="service-title"><a href="">User Communities</a></h4>
          <p class="service-description">Bring your institutional HPC cluster, INCITS/XSEDE allocation, or cloud resource into a single environment, controlled by policies you define.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-cloud-upload"></i></div>
          <h4 class="service-title"><a href="">HPC, Cloud and Grid Service Prodivers</a></h4>
          <p class="service-description">VC3 will offer new approaches to present your HPC resources to scientific collaborations, large or small, or individual investigators.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-object-group"></i></div>
          <h4 class="service-title"><a href="">Workload Developers</a></h4>
          <p class="service-description">Deal with resources in the abstract when you want to, or get more details when you need them. VC3 platforms will host modular services that orchestrate delivery of infrastructure to workload management systems.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-pie-chart"></i></div>
          <h4 class="service-title"><a href="">Discover</a></h4>
          <p class="service-description">Create an environment that facilitates the discovery of computing resources like processor time, data storage and networking across geographically distributed, dynamic, virtual organizations.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-spinner"></i></div>
          <h4 class="service-title"><a href="">Orchestrate</a></h4>
          <p class="service-description">Find ways to steamline data management and analysis. Make research results friendly to interactive analytics and discoverable by current and future team members.</p>
        </div>
      </div>
    </div>
  </section>

<!--==========================
    Partners Section
============================-->
    <section id="partners">
      <div class="container wow fadeInUp">
          <h3 class="partners-title">In Partnership With</h3>
          <div class="col-xs-12">
            <a class="partners-logo" href="https://www.bnl.gov/world/" target="_blank"><img src="https://image.ibb.co/fdRpGF/brookhaven_national_laboratory.png"></a>
            <a class="partners-logo" href="https://www.uchicago.edu/" target="_blank"><img src="https://image.ibb.co/bObLqa/university_of_chicago.png"></a>
            <a class="partners-logo" href="https://www.nd.edu/" target="_blank"><img src="https://image.ibb.co/cHrybF/university_of_notre_dame.png"></a>
            <a class="partners-logo" href="https://science.energy.gov/ascr/" target="_blank"><img src="https://image.ibb.co/fv2h3v/department_of_energy.png"></a>
          </div>
      </div>
    </section>

<hr />
{%endblock%}
