{%extends "base.html"%}

{%block title%}Virtual Clusters for Community Computation{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<!-- Main Content -->

<section id="hero">
  <div class="hero-container wow fadeIn">
    <div class="hero-logo">
      <img class="" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Virtual Clusters 3">
    </div>

    <h1>Virtual Clusters for Community Computation</h1>
    <h2><span class="rotating">Deploy HTCondor and WorkQueue clusters/ Integrate diverse HPC resources/ Enable collaborative science/ Open to beta testers early 2018 </span></h2>
    <div class="actions">
    {%if session.get('is_authenticated')%}
      <a href="#aboutvc3" class="btn-about-vc3">About VC3</a>
    {% else %}
      <a href="#aboutvc3" class="btn-about-vc3">About VC3</a>
      <a href="{{url_for('signup')}}" class="btn-about-vc3">Sign Up</a>
    {% endif %}
    </div>
  </div>
</section>

<section id="about" class="container wow fadeInLeft">
  <div class="container" id="about-vc3">
    <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
      <img src="https://image.ibb.co/eOOgHF/homepagev4.png">
    </div>
    <div class="content container col-sm-12 col-md-8 col-lg-8">
      <h3 class="section-title"><span id="brand">VC3</span> automates deployment of cluster frameworks to access diverse computing resources for collaborative science teams
      </h3>
    </div>
  </div>
</section>

<div class="vc3-divider-img">
  <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
</div>

<section id="about" class="container wow fadeInLeft">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dce2Sv/illustration_vc3.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">Virtual Clusters for Community Computation</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
            A platform for provisioning cluster frameworks over heterogeneous computing resources
          </h4>
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dSFjua/illustration_clients2.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For User Communities</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Combine your resource allocations and cloud credits into virtual clusters, controlled by middleware frameworks you select, policies you define, and shared with collaborators you choose.</h4>
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dv1tZa/illustration_resource_providers.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For High Performance and High-Throughput Computing Resource Providers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Build hybrid systems to connect on-premise resources with those from partner institutions and commercial providers to accelerate scientific collaborations.</h4>
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/jJabnv/illustration_developers.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For Workload System and Science Gateway Developers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Deal with resources in the abstract when you want to, or get more details when you need them. The VC3 platform will support your workload management system or science gateway.</h4>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>

<div class="vc3-divider-img">
  <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
</div>

<section id="about" class="container wow fadeInUp">
  <div class="container">
    <div class="content container col-xs-12" id="aboutvc3-main">
      <h2 class="section-title">
        About <span id="brand">VC3</span>
      </h2>
       <h4 class="section-description">
             VC3 is built from a number of software tools, technologies, and integrative experiences.
       </h4>
      <div class="section-title-divider"></div>
    </div>

    <div class="content col-xs-12" id="aboutvc3">

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          
            <img class="img-responsive" id="apf-icon" src="{{url_for('static', filename='img/aboutvc3/apf-factory-icon.jpg')}}">

        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            APF = AutoPyFactory = Automatic Python Factory. APF is a scalable, flexible, easily deployed generic provisioning factory. It monitors idle workloads, calculates the appropriate number of jobs/containers to submit/launch (or kill), and then does so.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://research.cs.wisc.edu/htcondor/" target="_blank">
            <img class="img-responsive" id="htcondor-icon" src="{{url_for('static', filename='img/aboutvc3/htcondor.png')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            Leveraging Condor-G from HTCondor, APF can manage submissions to a wide array of resources. It is plugin-based to allow flexible and robust combinations of monitored workloads, resource targets, and submission types. A unique 'algorithm by configuration' mechanism allows the deployer to program APF's submission behavior without coding.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://ccl.cse.nd.edu/software/workqueue/" target="_blank">
            <img class="img-responsive" id="wq-icon" src="{{url_for('static', filename='img/aboutvc3/wq.png')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            A cluster framework for massively scalable scientific applications supported by VC3. Tasks are executed by a standard worker process that can run on any available machine. Each worker calls home to the master process, arranges for data transfer, and executes the tasks. The system handles a wide variety of failures, allowing for dynamically scalable and robust applications.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://ccl.cse.nd.edu/software/makeflow/" target="_blank">
            <img class="img-responsive" id="makeflow-icon" src="{{url_for('static', filename='img/aboutvc3/MakeflowLogoSmall.png')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            A portable, scalable workflow manager for scientific computing. The Makeflow language is similar to traditional Make, so if you can write a Makefile, then you can write a Makeflow. A workflow can be just a few commands chained together, or it can be a complex application consisting of thousands of tasks.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://www.globus.org/" target="_blank">
            <img class="img-responsive" id="globus-icon" src="{{url_for('static', filename='img/aboutvc3/globus.png')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            VC3 leverages the authorization service from Globus to manage identities.  Researchers can use their home institutional ("campus") IDs when logging into the VC3 portal.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://ci-connect.net/" target="_blank">
            <img class="img-responsive" id="ciconnect-icon" src="{{url_for('static', filename='img/aboutvc3/ciconnect2.jpg')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
          CI Connect offers several capabilities based on Globus, HTCondor and other HTC and data sharing technologies. It is the basis of OSG Connect, ATLAS Connect, CMS Connect among other submission services.
          </h4>
        </div>
      </div>


      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://osgconnect.net/" target="_blank">
            <img class="img-responsive" id="osg-icon" src="{{url_for('static', filename='img/aboutvc3/osg.jpg')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
           VC3 builds on foundational high-throughput principles established by the HTCondor team and implemented at scale by the Open Science Grid which operates services connecting over 115 clusters at institutions across the U.S. and  internationally.
          </h4>
        </div>
      </div>

      <div class="row container wow fadeInRight">
        <div class="col-xs-12 col-md-4" id="vc3homediagram">
          <a href="https://sciencegateways.org/" target="_blank">
            <img class="img-responsive" id="sci-gateway-icon" src="{{url_for('static', filename='img/aboutvc3/sci-gateway.png')}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h4 class="section-description">
            Science gateways allow science and engineering communities to access shared data, software, computing services, instruments, educational materials, and other resources specific to their disciplines.
          </h4>
        </div>
      </div>


    </div>

  </div>
</section>


{%endblock%}
