{%extends "base.html"%}

{%block title%}Virtual Clusters for Community Computation{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<!-- Main Content -->

<section id="hero">
  <div class="hero-container wow fadeIn">
    <div class="hero-logo">
      <img class="" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Virtual Clusters 3">
    </div>

    <h1>Virtual Clusters for Community Computation</h1>
    <h2><span class="rotating">Deploy HTCondor and WorkQueue clusters/ Integrate diverse HPC resources/ Enable collaborative science/ Open to beta testers early 2018 </span></h2>
    <div class="actions">
      <a href="#aboutvc3" class="btn-about-vc3">About VC3</a>
      <a href="{{url_for('signup')}}" class="btn-about-vc3">Sign Up</a>
    </div>
  </div>
</section>

<section id="about" class="container wow fadeInUp">
  <div class="container" id="about-vc3">
    <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
      <img src="https://image.ibb.co/eOOgHF/homepagev4.png">
    </div>
    <div class="content container col-sm-12 col-md-8 col-lg-8">
      <h3 class="section-title"><span id="brand">VC3</span> automates deployment of cluster frameworks to access diverse computing resources for collaborative science teams
      </h3>
    </div>
  </div>
</section>

<div class="vc3-divider-img">
  <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
</div>

<section id="about" class="container wow fadeInUp">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dce2Sv/illustration_vc3.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">Virtual Clusters for Community Computation</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
            A platform for provisioning cluster frameworks over heterogeneous computing resources
          </h4>
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dSFjua/illustration_clients2.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For User Communities</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Combine your resource allocations and cloud credits into virtual clusters, controlled by middleware frameworks you select, policies you define, and shared with collaborators you choose.</h4>    
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/dv1tZa/illustration_resource_providers.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For High Performance and High-Throughput Computing Resource Providers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Build hybrid systems to connect on-premise resources with those from partner institutions and commercial providers to accelerate scientific collaborations.</h4>
        </div>
      </div>

      <div class="item">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="https://image.ibb.co/jJabnv/illustration_developers.png">
        </div>
        <div class="content col-sm-12 col-md-6 col-lg-6">
          <h3 class="section-title">For Workload System and Science Gateway Developers</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">Deal with resources in the abstract when you want to, or get more details when you need them. The VC3 platform will support your workload management system or science gateway.</h4>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>

<div class="vc3-divider-img">
  <img src="https://image.ibb.co/cpdMMa/vc3divider.png" alt="Virtual Clusters 3 Divider">
</div>

<section id="about" class="container wow fadeInUp">
  <div class="container" id="aboutvc3">
    <div class="content container col-sm-12">
      <h2 class="section-title">
        About <span id="brand">VC3</span>
      </h2>
       <h4 class="section-description">
             VC3 is built from a number of software tools, technologies, and integrative experiences.
       </h4>
      <div class="section-title-divider"></div>
    </div>

    <div class="content col-sm-12">

      <div class="row" id="left">
         <div class="col-sm-12 col-md-8 col-lg-8">
           <h3 class="section-title">Pilot Factory</h3>
           <div class="section-title-divider"></div>
           <h4 class="section-description">
             VC3 uses the Automatic Pilot Factory (APF) which was developed for the ATLAS experiment at the CERN Large Hadron Collider. In prodduction since 2009, the APF distributes ATLAS pilots to more than XX clusters located in YY countries in support of the PanDA workload management service.
           </h4>
         </div>
         <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
           <img id="apf-icon" src="{{url_for('static', filename='img/aboutvc3/apf-factory-icon.jpg')}}">
         </div>
       </div>

     <div class="row" id="left">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">Resource Provisioning</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
            The APF is itself using HTCondor software and relies heavily on the "HTCondor-G" protocol for accessing cluster resources. 
          </h4>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
          <img src="{{url_for('static', filename='img/aboutvc3/htcondor.png')}}">
        </div>
      </div>

      <div class="row" id="left">
        <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
          <img src="{{url_for('static', filename='img/aboutvc3/wq.png')}}">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">Clustering Framework</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
            Work Queue is a framework for building large master-worker applications that span thousands of machines drawn from clusters, clouds, and grids.
          </h4>
        </div>
      </div>

      <div class="row" id="left">
        <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
          <img src="{{url_for('static', filename='img/aboutvc3/globus.png')}}">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">GlobusAuth</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
            VC3 leverages the authorization service from Globus to manage identities.  Researchers can use their home institutional ("campus") IDs when logging into the VC3 portal.
          </h4>
        </div>
      </div>


      <div class="row" id="left">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <h3 class="section-title">Grid Computing</h3>
          <div class="section-title-divider"></div>
          <h4 class="section-description">
           VC3 builds on principles established by the Open Science Grid consortium which operates services connecting over 115 clusters across the U.S. and a number of international institutes.
          </h4>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" id="vc3homediagram">
          <img src="{{url_for('static', filename='img/aboutvc3/osg.jpg')}}">
        </div>
      </div>


    </div>

  </div>
</section>


{%endblock%}
