<!-- Login Footer -->

<footer class="footer">
	<div class="container-fluid">
		<!-- <nav class="pull-left">
			<ul>
				<li>
					<a href="{{url_for('home')}}">
						Home
					</a>
				</li>
				<li>
					<a href="{{url_for('blog')}}">
						News
					</a>
				</li>
				<li>
					<a href="{{url_for('community')}}">
						Community
					</a>
				</li>
		  </ul>
    </nav> -->

			<p class="copyright pull-right">
				&copy; <script>document.write(new Date().getFullYear())</script> The University of Chicago
				<a href="{{url_for('home')}}">VC3</a>, Virtual Clusters
				for Community Computation
      </p>

  </div>
</footer>
