{%extends "loginbase.jinja2"%}

{%block title%}
  Define a new allocation
{%endblock%}

{%block body%}

<section id="new_allocation">
  <div class="container new-allocation">
    <form role="form" id="new-allocation-form" action="{{url_for('allocation')}}" method="POST">

      <!-- Logo -->

      <div class="col-lg-12 logo-vc3">
          <img width="100" class="logo" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Logo" />
      </div>

      <h3>Define New Allocation</h3>
      <h4>An allocation is an allotted amount of core hours, or service units (SU) of computing time on a specific Cluster</h4>

      <fieldset>
        <label for="name">Allocation Name</label>
        <input
          placeholder="Your Allocation name"
          name="name"
          type="text"
          tabindex="1"
          required
          autofocus
          value="{{request.name}}">
      </fieldset>
      <fieldset>
        <label for="owner">Owner</label>
        <input
          placeholder="Name of Owner"
          name="owner"
          type="text"
          tabindex="2"
          required
          autofocus
          value="{{request.owner}}">
      </fieldset>
      <fieldset>
        <label for="resource">Resource</label>
        <input
          placeholder="Resource Name"
          name="resource"
          type="text"
          tabindex="3"
          autofocus
          value="{{request.resource}}">
      </fieldset>
      <fieldset>
        <label for="accountname">Account Name</label>
        <input
          placeholder="Account Name"
          name="accountname"
          type="text"
          tabindex="4"
          autofocus
          value="{{request.accountname}}">
      </fieldset>
      <fieldset>
        <button type="submit" id="create-project" data-submit="...Sending">Create Project</button>
      </fieldset>
    </form>
  </div> <!-- allocation container -->
</section>

{%endblock%}
