{%extends "loginbase.jinja2"%}

{%block title%}
  Define a new allocation
{%endblock%}

{%block body%}

<section id="new_allocation">
  <div class="container new-allocation">
    <form id="new-allocation-form" action="" method="post">
      <!-- Logo -->
      <div class="col-lg-12 logo-vc3">
          <img width="100" class="logo" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Logo" />
      </div>
      <h3>Define a New Allocation</h3>
      <h4>Enter Allocation information</h4>
      <fieldset>
        <input name="allocationName" placeholder="Your Resource Username" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input name="resourceAllocation" placeholder="Allocation Label on Resource" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input name="accountName" placeholder="Account Group" type="text" tabindex="3" required></input>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="define-allocation" data-submit="...Sending">Initialize Resource</button>
      </fieldset>
    </form>
  </div> <!-- allocation container -->
</section>

{%endblock%}
