{%extends "base.jinja2"%}

{%block title%}News{%endblock%}

{%block body%}

<section id="news">
  <div class="container content">
    <div class="row">
      <div class="col-sm-8">
          <h1><strong>Project News</strong></h1>
            <article class="news">
              <h2>
                <a href="/news/toydemo">Play toy demos of primordial VC3 components</a>
              </h2>
              <p class="time">
                September  8, 2016
              </p>
              <p>Our goal for the fall is to create a "capability demonstrator".  As we're just getting started we'll build from existing software and applications and mold them to higher level abstractions.  The examples below demonstrate prototyping features of a...</p>
              <p>
                <em><a href="/news/toydemo">Read more &raquo;</a></em>
              </p>
            </article>
          <div class="article pagination">
            <p class="pagination__summary">Articles 1 to 1 of 1.
            </p>
          </div>
      </div>
      <div class="col-sm-4 news-sidebar">
          <div class="news-sidebar-section">
            <h2>Posts By Year</h2>
              <h3>2016</h3>
              <ul>
                  <li>
                    <a href="/news/toydemo">
                      Play toy demos of primordial VC3 components</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                  </li>
              </ul>
          </div>

          <div class="news-sidebar-section">
            <h2>Tags</h2>
              <h3>demos</h3>
              <ul>
                  <li>
                    <a href="/news/toydemo">
                      Play toy demos of primordial VC3 components</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                    </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
