{%extends "base.jinja2"%}

{%block title%}News{%endblock%}

{%block body%}

<div class="container content">
  <div class="row">
    <div class="col-sm-8">
        <h2>Project News</h2>
          <article class="news">
            <h2>
              <a href="/2016/09/08/toy-demo.html">Play toy demos of primordial VC3 components</a>
            </h2>
            <p class="time">
              September  8, 2016
            </p>
            <p>Our goal for the fall is to create a "capability demonstrator".  As we're just getting started we'll build from existing software and applications and mold them to higher level abstractions.  The examples below demonstrate prototyping features of a...</p>
            <p>
              <em><a href="/2016/09/08/toy-demo.html">Read more &raquo;</a></em>
            </p>
          </article>
          <article class="news">
            <h2>
              <a href="/2016/09/08/ngns-pi-meeting.html">Next Generation Networks for Science (NGNS) Principal Investigators' (PI) Meeting</a>
            </h2>
            <p class="time">
              September  8, 2016
            </p>
            <p>Today and tomorrow we have the Next Generation Networks for Science (NGNS) Principal Investigators' (PI) Meeting at Argonne National Laboratory.  More information can be found <a href="https://www.orau.gov/ngns2016/default.htm">here</a>.  Doug Thain will be giving the VC3 presentation tomorrow.</p>

            <p>
              <em><a href="/2016/09/08/ngns-pi-meeting.html">Read more &raquo;</a></em>
            </p>
          </article>
          <article class="news">
            <h2>
              <a href="/2016/06/07/kickoff-meeting.html">VC3 Kickoff Meeting</a>
            </h2>
            <p class="time">
              June  7, 2016
            </p>
            <p>Our official "kickoff" meeting to get the project formally started.  The main theme will be to revisit our vision and proposal, to identify and carve out the “VC3 space” given changes in the community since the proposal, and to prepare for the <a href="https://www.orau.gov/ngns2016/default.htm">NGNS...</a></p>
            <p>
              <em><a href="/2016/06/07/kickoff-meeting.html">Read more &raquo;</a></em>
            </p>
          </article>
        <div class="article pagination">
          <p class="pagination__summary">Articles 1 to 3 of 3.
          </p>
        </div>
    </div>
    <div class="col-sm-4 news-sidebar">
        <div class="news-sidebar-section">
          <h2>Posts By Year</h2>
            <h3>2016</h3>
            <ul>
                <li>
                  <a href="/2016/09/08/toy-demo.html">
                    Play toy demos of primordial VC3 components</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                </li>
                <li>
                  <a href="/2016/09/08/ngns-pi-meeting.html">
                    Next Generation Networks for Science (NGNS) Principal Investigators' (PI) Meeting</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                </li>
                <li>
                  <a href="/2016/06/07/kickoff-meeting.html">
                    VC3 Kickoff Meeting</a> <em class="text-nowrap"><small>[Jun 7]</small></em>
                </li>
            </ul>
        </div>

        <div class="news-sidebar-section">
          <h2>Tags</h2>
            <h3>demos</h3>
            <ul>
                <li>
                  <a href="/2016/09/08/toy-demo.html">
                    Play toy demos of primordial VC3 components</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                  </a>
                </li>
            </ul>
            <h3>meetings</h3>
            <ul>
                <li>
                  <a href="/2016/09/08/ngns-pi-meeting.html">
                    Next Generation Networks for Science (NGNS) Principal Investigators' (PI) Meeting</a> <em class="text-nowrap"><small>[Sep 8]</small></em>
                  </a>
                </li>
                <li>
                  <a href="/2016/06/07/kickoff-meeting.html">
                    VC3 Kickoff Meeting</a> <em class="text-nowrap"><small>[Jun 7]</small></em>
                  </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>

{%endblock%}
