{%extends "loginbase.html"%}

{%block title%}User: {{profile.name}} ({{ session['displayname'] }}){%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <!-- <li class="breadcrumb-item active">Profile</li> -->
            </ol>
            <h2 class="title">
                Welcome <span style="color:#2b2b2b">{{profile.displayname}}</span>
            </h2>
            <a href="{{url_for('show_profile_page')}}" class="btn btn-primary btn-sm" title="Edit Profile">Edit Profile</a>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="content description">

                <div class="card">
      						<div class="card-block">

                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#portal-diagram">Launching Your Virtual Cluster</a></li>
                      <li><a data-toggle="tab" href="#internal-diagram">Inside VC3</a></li>
                    </ul>

                    <div class="tab-content">

                      <div id="portal-diagram" class="tab-pane fade in active">
                        <div class="row">
                          <img id="vc3diagram" src="{{url_for('static', filename='img/vc3_portal_diagram.png')}}">
                        </div>
                        <div class="row">

                          <!-- <h2 class="title">
                            <small>Steps to Launch Virtual Cluster</small>
                          </h2> -->

                          <div id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="card panel panel-info resource-profile" style="margin: 1em;">
                              <div class="card-header panel-title" role="tab" id="headingTwo" style="margin: 1em;">
                                <h5 class="mb-0">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Steps to Launch Virtual Cluster <i class="fa fa-info-circle" aria-hidden="true"></i>
                                  </a>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block panel-body disabled" style="font-size: 16px">
                                  <ol>
                                    <li>Register your Allocation</li>
                                    <li>Once allocation is validated, you may contribute your allocation to a project.</li>
                                    <li>Define a cluster template, specifying middleware framework.</li>
                                    <li>Create an environment to list any additional dependencies</li>
                                    <li>Bring these steps together and launch your first Virtual Cluster</li>
                                  </ol>
                                </div>
                              </div>
                            </div>

                          </div><!-- /.accordion-->
                        </div><!-- /.row -->
                      </div>

                      <div id="internal-diagram" class="tab-pane fade in">
                        <div class="row">
                          <img id="vc3diagram" src="{{url_for('static', filename='img/vc3_internal_diagram.png')}}">
                        </div>
                      </div>
                    </div><!-- ./tab-content -->

      						</div><!-- ./card-block -->
      					</div><!-- ./card -->

              </div><!-- /.content description -->


            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->

    </div>
  </div>
</div>

{%endblock%}
