{%extends "loginbase.html"%}

{%block title%}User Profile: {{ session['name'] }}{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="header">
          {% if session['primary_identity'] not in ["c887eb90-d274-11e5-bf28-779c8998e810", "05e05adf-e9d4-487f-8771-b6b8a25e84d3", "c4686d14-d274-11e5-b866-0febeb7fd79e", "be58c8e2-fc13-11e5-82f7-f7141a8b0c16", "c456b77c-d274-11e5-b82c-23a245a48997", "f1f26455-cbd5-4933-986b-47c57ee20987", "aebe29b8-d274-11e5-ba4b-ffec0df955f2", "c444a294-d274-11e5-b7f1-e3782ed16687"] %}
              <h2 class="title">Thanks for your interest in VC3!  </h2>
          {% else %}
            <h2 class="title">Profile: {{session['first']}} {{session['last']}}</h2>
          {% endif %}
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">
              {% if session['primary_identity'] not in ["c887eb90-d274-11e5-bf28-779c8998e810", "05e05adf-e9d4-487f-8771-b6b8a25e84d3", "c4686d14-d274-11e5-b866-0febeb7fd79e", "be58c8e2-fc13-11e5-82f7-f7141a8b0c16", "c456b77c-d274-11e5-b82c-23a245a48997", "f1f26455-cbd5-4933-986b-47c57ee20987", "aebe29b8-d274-11e5-ba4b-ffec0df955f2", "c444a294-d274-11e5-b7f1-e3782ed16687"] %}
                <h5>Please contact <a href="mailto:dthain@nd.edu">Doug Thain</a>,
                  <a href="mailto:rwg@uchicago.edu">Rob Gardner</a>, or <a href="mailto:jhover@bnl.gov ">John Hover</a> if you'd
                  to get more information or access to the system.</h5>

              {%elif session.get('is_authenticated')%}
              <div class="row">
        				<!-- <div class="col-sm-6 col-md-6 col-lg-3">
        					<div class="thumbnail">
        						<img src="https://image.ibb.co/hEdfV5/blank_profile_picture_973461_960_720.png" alt="">
        						<div class="caption description">
        							<h5>Name:</h5><p>{{session['first']}} {{session['last']}}</p>
        							<h5>Institution:</h5> <p>{{session['institution']}}</p>
        							<h5>Email: <a href="mailto:{{session['email']}}">{{session['email']}}</a></h5>
        						</div>
        					</div>
        				</div> -->

        				<div class="col-md-6">
        					<form role="form" action="{{url_for('show_profile_page')}}" method="POST">

                    <div class="form-group">
        							<label for="displayname">User Name</label>
        							<input
        								type="text"
        								id="displayname"
        								name="displayname"
                        placeholder="Choose User Name..."
        								class="form-control tour-step tour-step-three"
        								required="required"
        								tabindex="1"
        								value="{{session['displayname']}}"
        							>
        					  </div>

                    <div class="form-group">
        							<label for="first">First Name</label>
        							<input
        								type="text"
        								id="first"
        								name="first"
                        placeholder="First Name"
        								class="form-control"
        								required="required"
        								tabindex="1"
        								value="{{session['first']}}"
        							>
        					  </div>

                    <div class="form-group">
        							<label for="last">Last Name</label>
        							<input
        								type="text"
        								id="last"
        								name="last"
                        placeholder="Last Name"
        								class="form-control"
        								required="required"
        								tabindex="2"
        								value="{{session['last']}}"
        							>
        						</div>

        						<div class="form-group">
        							<label for="email">Email</label>
        							<input
        								type="email"
        								id="email"
        								name="email"
        								class="form-control"
        								placeholder="me@example.com"
        								required="required"
        								tabindex="3"
        								value="{{session['email']}}"
        							>
        						</div>

                    <div class="form-group">
                      <label for="institution">Institution/Department</label>
                      <input
                        type="text"
                        class="form-control"
                        id="institution"
                        name="institution"
                        placeholder="Institution Name"
                        required="required"
                        tabindex="4"
                        value="{{session['institution']}}"
                      >
                    </div>

        					  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Update Profile</button>
        					  </div>
        				  </form>
        				</div>
        			</div> <!-- row -->

              {%else%}

              <div class="row">

                <div class="col-md-6">
                  <form role="form" action="{{url_for('show_profile_page')}}" method="POST">

                    <div class="form-group">
        							<label for="displayname">User Name</label>
        							<input
        								type="text"
        								id="displayname"
        								name="displayname"
                        placeholder="Choose User Name..."
        								class="form-control tour-step tour-step-three"
        								required="required"
        								tabindex="1"
        								value="{{session['displayname']}}"
        							>
        					  </div>

                    <div class="form-group">
        							<label for="first">First Name</label>
        							<input
        								type="text"
        								id="first"
        								name="first"
                        placeholder="First Name"
        								class="form-control"
        								required="required"
        								tabindex="1"
        								value="{{session['first']}}"
        							>
        					  </div>

                    <div class="form-group">
        							<label for="last">Last Name</label>
        							<input
        								type="text"
        								id="last"
        								name="last"
                        placeholder="Last Name"
        								class="form-control"
        								required="required"
        								tabindex="2"
        								value="{{session['last']}}"
        							>
        						</div>

        						<div class="form-group">
        							<label for="email">Email</label>
        							<input
        								type="email"
        								id="email"
        								name="email"
        								class="form-control"
        								placeholder="me@example.com"
        								required="required"
        								tabindex="3"
        								value="{{session['email']}}"
        							>
        						</div>

                    <div class="form-group">
                      <label for="institution">Institution/Department</label>
                      <input
                        type="text"
                        class="form-control"
                        id="institution"
                        name="institution"
                        placeholder="Institution Name"
                        required="required"
                        tabindex="4"
                        value="{{session['institution']}}"
                      >
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary" title="Update Profile">Update</button>
                    </div>
                  </form>
                </div>

              </div> <!-- row -->
              {% endif %}
  					  </div>
            </div><!-- /.card-block -->

          </div>
        </div>
  		</div>
    </div>
  </div>
</div>

{%endblock%}
