{%extends "base.html"%}

{%block title%}
  Profile
{%endblock%}

{%block body%}

    <div class="page-header container">
      <h1>Profile</h1>
    </div>

{%if session.get('is_authenticated')%}

  <section id="user_profile">
  <!-- Profile Info Display -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
          <img src="https://ca.slack-edge.com/T03MU5LDV-U4THGCSAX-ac1f81007040-1024" alt="">
          <div class="caption">
            <h3>{{session['name']}}</h3>
            <h4>{{session['institution']}}</h4>
            <h5>{{session['email']}}</h5>
            <p>Description here to be dynamically pulled from session['description']</p>
            <p><a href="#" class="btn btn-primary" role="button">Edit</a></p>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-9 wrapper">
        <div class="container">

          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
              <li role="presentation" class="active">
                <a href="#overview" id="overview-tab" role="tab" data-toggle="tab" aria-controls="overview" aria-expanded="true">
                  <span class="text">Overview</span>
                </a>
              </li>
              <li role="presentation" class="next">
                <a href="#allocations" role="tab" id="allocations-tab" data-toggle="tab" aria-controls="allocations">
                  <span class="text">Allocations</span>
                </a>
              </li>
              <li role="presentation">
                <a href="#projects" role="tab" id="projects-tab" data-toggle="tab" aria-controls="projects">
                  <span class="text">Projects</span>
                </a>
              </li>
              <li role="presentation">
                <a href="#clusters" role="tab" id="clusters-tab" data-toggle="tab" aria-controls="clusters">
                  <span class="text">Clusters</span>
                </a>
              </li>
            </ul>

            <div id="myTabContent" class="tab-content">

              <div role="tabpanel" class="tab-pane fade in active" id="overview" aria-labelledby="overview-tab">
                <p>
                  Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater
                  eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </p>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="allocations" aria-labelledby="allocations-tab">

                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->

                  <div class="col-lg-4">
                    <a href="{{url_for('new_allocation')}}" class="btn btn-default btn-sm">Define New Allocation</a>
                  </div>
                </div><!-- /.row -->

                <hr>

                <p>
                  List of Allocations here? Browse options?
                </p>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="projects" aria-labelledby="projects-tab">

                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->

                  <div class="col-lg-4">
                    <a href="{{url_for('new')}}" class="btn btn-default btn-sm">+ New Project</a>
                  </div>
                </div><!-- /.row -->

                <hr>

                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                      <h3 class="mb-1">"session.get['project_title']"</h3>
                      <small>"session.get['project_date']"</small>
                    </div>
                    <p class="mb-1">"session.get['project_bio']"</p>
                    <small>"session.get['project_team']"</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h3 class="mb-1">List group item heading</h3>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h3 class="mb-1">List group item heading</h3>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                  </a>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="clusters" aria-labelledby="clusters-tab">
                <p>
                  Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo
                  enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                  cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </section>

{% else %}
<section id="user_profile">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form" action="{{url_for('profile')}}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="full name"
              required="required"
              tabindex="1"
              value="{{session['name']}}"
            >
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="me@example.com"
              required="required"
              tabindex="2"
              value="{{session['email']}}"
            >
          </div>

          <div class="form-group">
            <label for="institution">Institution/Department</label>
            <input
              type="text"
              id="institution"
              name="institution"
              class="form-control"
              required="required"
              tabindex="3"
              value="{{session['institution']}}"
            >
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{%endif%}
{%endblock%}















{%extends "loginbase.html"%}

{%block title%}User Profile: {{ session.name }}{%endblock%}

{%block body%}

<div class="content container">
  <div class="container-fluid">
    <div class="row">
		  {%if session.get('is_authenticated')%}

			<section id="user_profile">
			<!-- Profile Info Display -->

  			<div class="container card">
        <h2 class="title">Summary</h2>
        <h5>Account Details</h5>
        <hr />
    			<div class="row">
    				<div class="col-sm-6 col-md-6 col-lg-3">
    					<div class="thumbnail">
    						<img src="https://image.ibb.co/hEdfV5/blank_profile_picture_973461_960_720.png" alt="">
    						<div class="caption description">
    							<h5>Name:</h5><p>{{session['first']}} {{session['last']}}</p>
    							<h5>Institution:</h5> <p>{{session['institution']}}</p>
    							<h5>Email: <a href="mailto:{{session['email']}}">{{session['email']}}</a></h5>
    							<p><a href="{{url_for('edit')}}" class="btn btn-primary" role="button">Edit</a></p>
    						</div>
    					</div>
    				</div>

    				<div class="col-md-6">
    					<form role="form" action="{{url_for('profile')}}" method="POST">
    						<div class="form-group">
    							<label for="name">User Name</label>
    							<input
    								type="text"
    								class="form-control"
    								id="name"
    								name="name"
    								placeholder="Username"
    								required="required"
    								tabindex="1"
    								value="{{session['name']}}"
                    disabled
    							>
    						</div>

                <div class="form-group">
    							<label for="first">First Name</label>
    							<input
    								type="text"
    								id="first"
    								name="first"
                    placeholder="First Name"
    								class="form-control"
    								required="required"
    								tabindex="2"
    								value="{{session['first']}}"
                    disabled
    							>
    					  </div>

                <div class="form-group">
    							<label for="last">Last Name</label>
    							<input
    								type="text"
    								id="last"
    								name="last"
                    placeholder="Last Name"
    								class="form-control"
    								required="required"
    								tabindex="3"
    								value="{{session['last']}}"
                    disabled
    							>
    						</div>

    						<div class="form-group">
    							<label for="email">Email</label>
    							<input
    								type="email"
    								id="email"
    								name="email"
    								class="form-control"
    								placeholder="me@example.com"
    								required="required"
    								tabindex="4"
    								value="{{session['email']}}"
                    disabled
    							>
    						</div>

                <div class="form-group">
                  <label for="institution">Institution/Department</label>
                  <input
                    type="text"
                    class="form-control"
                    id="institution"
                    name="institution"
                    placeholder="Institution Name"
                    required="required"
                    tabindex="5"
                    value="{{session['institution']}}"
                    disabled
                  >
                </div>

    					  <div class="form-group">
                  <button type="submit" class="btn btn-primary">Update</button>
    					  </div>
    				  </form>
    				</div>

    			</div> <!-- row -->
        </div> <!-- container -->
      </section>

			{% else %}
      <section id="user_profile">
      <!-- Profile Info Display -->

        <div class="container card">
        <h2 class="title">Profile</h2>
        <hr />
          <div class="row">

            <div class="col-md-6">
              <form role="form" action="{{url_for('profile')}}" method="POST">
                <div class="form-group">
                  <label for="name">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Username"
                    required="required"
                    tabindex="1"
                    value="{{session['name']}}"
                  >
                </div>

                <div class="form-group">
                  <label for="first">First Name</label>
                  <input
                    type="text"
                    id="first"
                    name="first"
                    placeholder="First Name"
                    class="form-control"
                    required="required"
                    tabindex="2"
                    value="{{session['first']}}"
                  >
                </div>

                <div class="form-group">
                  <label for="last">Last Name</label>
                  <input
                    type="text"
                    id="last"
                    name="last"
                    placeholder="Last Name"
                    class="form-control"
                    required="required"
                    tabindex="3"
                    value="{{session['last']}}"
                  >
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="me@example.com"
                    required="required"
                    tabindex="4"
                    value="{{session['email']}}"
                  >
                </div>

                <div class="form-group">
                  <label for="institution">Institution/Department</label>
                  <input
                    type="text"
                    class="form-control"
                    id="institution"
                    name="institution"
                    placeholder="Institution Name"
                    required="required"
                    tabindex="5"
                    value="{{session['institution']}}"
                  >
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </div>

          </div> <!-- row -->
        </div> <!-- container -->
      </section>
			{%endif%}

    </div>
  </div>
</div>

{%endblock%}
