{%extends "loginbase.html"%}

{%block title%}Profile{%endblock%}

{%block body%}

<div class="content container">
  <div class="container-fluid">
      <div class="row">
				{%if session.get('is_authenticated')%}

						<section id="user_profile">
						<!-- Profile Info Display -->

						<div class="container card">
            <h2 class="title">Profile</h2>
            <hr />
								<div class="row">
									 <div class="col-sm-6 col-md-6 col-lg-3">
									   <div class="thumbnail">
									     <img src="https://image.ibb.co/hEdfV5/blank_profile_picture_973461_960_720.png" alt="">
									     <div class="caption description">
									       <h3>{{session['name']}}</h3>
									       <h4>{{session['institution']}}</h4>
									       <h5>{{session['email']}}</h5>
									       <!-- <p><a href="#" class="btn btn-primary" role="button">Edit</a></p> -->
									     </div>
									   </div>
									 </div>

							<div class="col-md-6 col-md-3">
									   <form role="form" action="{{url_for('profile')}}" method="POST">
									     <div class="form-group">
									       <label for="name">User Name</label>
									       <input
									         type="text"
									         class="form-control"
									         id="name"
									         name="name"
									         placeholder="Username"
									         required="required"
									         tabindex="1"
									         value="{{session['name']}}"
									       >
									     </div>

                       <div class="form-group">
									       <label for="first">First Name</label>
									       <input
									         type="text"
									         id="first"
									         name="first"
                           placeholder="First Name"
									         class="form-control"
									         required="required"
									         tabindex="2"
									         value="{{session['first']}}"
									       >
									     </div>

                       <div class="form-group">
									       <label for="last">Last Name</label>
									       <input
									         type="text"
									         id="last"
									         name="last"
                           placeholder="Last Name"
									         class="form-control"
									         required="required"
									         tabindex="3"
									         value="{{session['last']}}"
									       >
									     </div>

									     <div class="form-group">
									       <label for="email">Email</label>
									       <input
									         type="email"
									         id="email"
									         name="email"
									         class="form-control"
									         placeholder="me@example.com"
									         required="required"
									         tabindex="4"
									         value="{{session['email']}}"
									       >
									     </div>

                       <div class="form-group">
                         <label for="institution">Institution/Department</label>
                         <input
                           type="text"
                           class="form-control"
                           id="institution"
                           name="institution"
                           placeholder="Institution Name"
                           required="required"
                           tabindex="5"
                           value="{{session['institution']}}"
                         >
                       </div>

									     <div class="form-group">
									       <button type="submit" class="btn btn-primary">Save</button>
									     </div>
									   </form>
									 </div>

								</div> <!-- row -->
						</div> <!-- container -->
						</section>

					{% else %}
					<section id="user_profile">
              <h2 class="title">Project(s)</h2>
              <hr />
									<div class="row">
									  <div class="col-md-6 col-md-offset-3">
									    <form role="form" action="{{url_for('profile')}}" method="POST">
									      <div class="form-group">
									        <label for="name">Name</label>
									        <input
									          type="text"
									          class="form-control"
									          id="name"
									          name="name"
									          placeholder="full name"
									          required="required"
									          tabindex="1"
									          value="{{session['name']}}"
									        >
									      </div>

									      <div class="form-group">
									        <label for="email">Email</label>
									        <input
									          type="email"
									          id="email"
									          name="email"
									          class="form-control"
									          placeholder="me@example.com"
									          required="required"
									          tabindex="2"
									          value="{{session['email']}}"
									        >
									      </div>

                        <div class="form-group">
									        <label for="institution">Institution/Department</label>
									        <input
									          type="text"
									          id="institution"
									          name="institution"
									          class="form-control"
									          placeholder="institution"
									          required="required"
									          tabindex="3"
									          value="{{session['institution']}}"
									        >
									      </div>

									      <div class="form-group">
									        <button type="submit" class="btn btn-primary">Save</button>
									      </div>
									    </form>
									  </div>
									</div>
					</section>
					{%endif%}

        </div>
    </div>
</div>


{%endblock%}
