{%extends "loginbase.html"%}

{%block title%}Project: {{ name }}{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Project:<a href="{{url_for('view_project', name=name)}}" > {{ name }}</a></h4>
            <div class="">
							<!-- <h5>Current project description</h5> -->
						</div>
						<hr />
          </div>

    			<div class="content description">
    				<label for="members">Project Members</label>
    				<div class="list-group">
    					<div class="list-group-item active">{{ session['first'] }} {{ session['last'] }} (Owner)</div>
    					{% for member in members%}
                {% for user in users %}
                  {% if user.name == member %}
    					<a href="#" class="list-group-item list-group-item-action" name="removeuser">{{ user.first }} {{ user.last }}
    						{% if session['name'] == owner %}
    						<!-- <button type="submit" name="btn" value="removeuser" class="btn btn-danger btn-xs pull-right" data-submit="Removing User...">Remove User</button> -->
    						{% endif %}
    					</a>
                  {% endif %}
                {% endfor %}
    					{% endfor %}
    				</div>

				    {% if session['name'] == owner %}
						<form role="form" action="{{url_for('add_member_to_project', name=name)}}" method="POST">
							<fieldset>
					       <label for="newuser">Add New Users</label>
					       <select class="form-control" name="newuser" tabindex="2" id="form-resource-list" required>
					         <option selected disabled>Please Select User</option>
					         {% for user in users %}
                    {% if (user.name not in members) and (user.name != owner) %}
					         <option value="{{user.name}}" required>{{ user.first }} {{ user.last}}</option>
                    {% endif %}
					         {% endfor %}
					       </select>
					     </fieldset>
					     <button type="submit" name="btn" value="adduser" class="btn btn-primary" id="create-project" data-submit="...Sending">Add User</button>
						</form>
            {% endif %}

						<span id="label"><h3>Allocations:</h3></span>
						<div class="list-group">
						{% for project in projects %}
              {% if project.name == name %}
                {% if project.allocations == [] or project.allocations == None %}
                <div class="list-group-item active">
                  No Current Allocations
                </div>
                {% else %}
                  {% for allocation_name in project.allocations %}
                    {% for allocation in allocations %}
                      {% if allocation_name == allocation.name %}
                <div class="list-group-item active">
                  {{ allocation.displayname }}
                </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endif %}
						{% endfor %}
						</div>

						<form role="form" action="{{url_for('add_allocation_to_project', name=name)}}" method="POST">
							<fieldset>
								<label for="allocation">Select Allocation:</label>
								<select class="form-control" id="form-resource-list" name="allocation" tabindex="3" required>
									<option selected disabled>Please Select Allocation</option>
								<!-- Populate List of Allocations that has been defined by User -->
                {% for project in projects %}
  								{% for allocation in allocations %}
  									{% if allocation.owner == owner and session['name'] == owner and allocation.name not in project.allocations %}
  								<option value="{{allocation.name}}" required>{{ allocation.displayname }}</option>
  									{% endif %}
  								{% endfor %}
                {% endfor %}
								</select>
							</fieldset>
								<button type="submit" name="btn" value="addallocation" class="btn btn-primary" id="create-project" data-submit="...Sending">Add Allocation to Project</button>
						</form>
          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
