{%extends "loginbase.html"%}

{%block title%}Project: {{ name }}{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Project:<a href="{{url_for('project_name', name=name)}}" method="GET"> {{ name }}</a></h4>
            <div class="">
							<h5>Current project description</h5>
						</div>
						<hr />
          </div>

          <div class="content description">
						<label for="members">Project Members</label>
								<div name="members" class="list-group">
									<div href="#" class="list-group-item active">{{ owner }} (Owner)</div>
                    {% for member in members%}
                    <a href="#" class="list-group-item list-group-item-action" name="removeuser" value="{{member}}">{{ member }}
                      {% if session['name'] == owner %}
                      <button type="submit" name="btn" value="removeuser" class="btn btn-danger btn-xs pull-right" data-submit="Removing User...">Remove User</button>
                      {% endif %}
                    </a>
                    {% endfor %}
								</div>
              {% if session['name'] == owner %}
							<form role="form" action="{{url_for('project_name', name=name)}}" method="POST">
								<fieldset>
					        <label for="newuser">Add New Users</label>
					        <select class="form-control" name="newuser" tabindex="2" id="form-resource-list" required>
					          <option selected disabled>Please Select User</option>
					          {% for user in users %}
                      {% if user.name not in members %}
					          <option value="{{user.name}}">{{ user.name }}</option>
                      {% endif %}
					          {% endfor %}
					        </select>
					      </fieldset>
					      <button type="submit" name="btn" value="adduser" class="btn btn-primary" id="create-project" data-submit="...Sending">Add User</button>
							</form>
              {% endif %}

								<span id="label"><h3>Allocations:</h3></span>
								<div class="list-group">
								{% for project in projects %}
                  {% if project.name == name %}
                    {% if project.allocations == [] %}
                    <a class="list-group-item list-group-item-action">
                      No Current Allocations
                    </a>
                    {% else %}
                    <a href="{{ url_for('allocation_name', name=project.allocations[0]) }}" class="list-group-item list-group-item-action">
                      {{ project.allocations[0] }}
                    </a>
                    {% endif %}
                  {% endif %}
								{% endfor %}
								</div>

								<form role="form" action="{{url_for('project_name', name=name)}}" method="POST">
									<fieldset>
										<label for="allocation">Select Allocation:</label>
										<select class="form-control" id="form-resource-list" name="allocation" tabindex="3" required>
											<option selected disabled>Please Select Allocation</option>
										<!-- Populate List of Allocations that has been defined by User -->
										{% for allocation in allocations %}
											{% if allocation.owner == owner and session['name'] == owner %}
										  	<option value="{{allocation.name}}">{{ allocation.name }}</option>
											{% endif %}
									  {% endfor %}
										</select>
									</fieldset>
										<button type="submit" name="btn" value="addallocation" class="btn btn-primary" id="create-project" data-submit="...Sending">Add Allocation to Project</button>
								</form>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
