{%extends "loginbase.html"%}

{%block title%}
Create a new project
{%endblock%}

{%block body%}

<div class="col-md-8 col-sm-12">
  <section id="new_project">
    <div class="container new-project">
      <form role="form" id="new-project-form" action="{{url_for('create_project')}}" method="POST">

        <h3>Create a New Project</h3>
        <h4>A project connects your allocations to your team members</h4>

        <fieldset>
          <label for="name">Project Name <span id="asterik">*</span></label>
            <input
              placeholder="Your Project name"
              name="name"
              type="text"
              tabindex="1"
              required
              autofocus
              value="{{request.name}}">
        </fieldset>
        <fieldset>
          <label for="members">Project Members</label>
            <!-- owner: {{ owner }} -->
            <select class="form-control" name="members" tabindex="2" id="form-resource-list">
              <option value="" selected>Add User to Project</option>
            {% for user in users %}
              {% if (user.name not in members) and (user.name != owner) %}
              <option value="{{user.name}}">{{ user.name }}</option>
              {% endif %}
            {% endfor %}
            </select>
        </fieldset>
        <fieldset>
          <button type="submit" id="create-project" data-submit="...Sending">Create Project</button>
        </fieldset>

      </form>
    </div> <!-- project container -->
  </section>
</div>
{%endblock%}
