{%extends "loginbase.html"%}

{%block title%}Project{%endblock%}

{%block body%}


<section id="projects">
	<div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="card">

          <div class="header">
            <h4 class="title">Projects</h4>
						<div class="">
							<h5>A list of your current projects</h5>
							<a href="{{url_for('new')}}" class="btn btn-primary btn-sm">+ New Project</a>
						</div>
						<hr />
          </div>

          <div class="content description">
						<ul class=projects>
						{% for project in projects %}
							{% if project.owner == session['name'] %}
							<div class="card text-center" style="width: 30rem;">
								<div class="card-block">
									<h4 class="card-title" id="project-pull-left"><span id="label">Project Name:</span> {{ project.name }}</h4>
									<p class="card-text" id="project-pull-left"><span id="label">Project Owner:</span> {{ project.owner}}</p>
								{% for member in project.members %}
									<p class="card-text" id="project-pull-left"><span id="label">Members:</span> {{ member }}</p>
								{% endfor %}
									<a href="{{ url_for('project_name', name=project.name) }}" id="project-btn" class="btn btn-primary btn-sm">View Project</a>
								</div>
							</div>
							{% endif %}
						{% endfor %}
						</ul>
          </div><!-- /.content description -->
        </div>
			</div>
    </div>
  </div>
</section>
{%endblock%}
