{%extends "base.jinja2"%}

{%block title%}
  Project
{%endblock%}

{%block body%}

    <div class="page-header container">
      <h1>Project Profile</h1>
    </div>

<section id="user_profile">
asdf
</section>
{%endblock%}
