{%extends "loginbase.html"%}

{%block title%}
Create a new project
{%endblock%}

{%block body%}
{% if validation == False %}
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Oops!</h4>
            <h5>You must have a validated
              <a href="{{url_for('create_allocation')}}">allocation</a> in
              order to create a project. If you've registered an allocation,
              it may take a few moments for validation. You may check the status
              of your allocation <a href="{{url_for('list_allocations')}}">here</a>
            </h5>
						<hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="col-md-8 col-sm-12">
  <section id="new_project">
    <div class="container new-project">

      <form role="form" id="new-project-form" action="{{url_for('create_project')}}" method="POST">

        <h2>Create a New Project {{validation}}</h2>
        <h4>A project connects your allocations to your team members</h4>
        <h4><label><span id="asterik">*</span> = indicates required</label></h4>

        <fieldset>
          <label for="name">Project Name <span id="asterik">*</span></label>
            <input
              placeholder="Your Project name"
              name="name"
              type="text"
              tabindex="1"
              required
              autofocus
              value="{{request.name}}">
        </fieldset>
        <fieldset>
          <label for="members">Project Members</label>
            <!-- owner: {{ owner }} -->
          <select class="form-control" multiple name="members" tabindex="2" id="form-resource-list">
            <option value="" selected disabled>Add User to Project</option>
            {% for user in users %}
              {% if (user.name not in members) and (user.name != owner) %}
            <option value="{{user.name}}">{{ user.first }} {{user.last}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </fieldset>
        <fieldset>
          <label for="allocation">Select Allocation:</label>
          <select class="form-control" multiple id="form-resource-list" name="allocation" tabindex="3">
            <option value="" selected disabled>Add Allocation to Project</option>
          <!-- Populate List of Allocations that has been defined by User -->
          {% for allocation in allocations %}
            {% if allocation.owner == owner and session['name'] == owner %}
            <option value="{{allocation.name}}">{{ allocation.displayname }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </fieldset>
        <fieldset>
          <label for="description">Description</label>
          <textarea
            placeholder="Brief 144 Character Description..."
            name="description"
            tabindex="4"
            autofocus
            maxlength="144"
            value="{{request.description}}"
            ></textarea>
        </fieldset>
        <fieldset>
          <button type="submit" id="create-project" data-submit="...Sending">Create Project</button>
        </fieldset>

      </form>
    </div> <!-- project container -->
  </section>
</div>
{%endif%}
{%endblock%}
