{%extends "loginbase.jinja2"%}

{%block title%}Dashboard{%endblock%}

{%block body%}

				<div class="content">
            <div class="container-fluid">
							<div class="row">
									<div class="col-md-8 col-lg-12">
											<div class="card">
													<div class="header">
														<h4 class="title">Project Name</h4>
															<h5 class="category">Field of Science category</h5>
                              <h5 class="category">Some mildly interesting description here, explaining the goals and purpose of the project</h5>
													</div>
													<div class="content container">
                            <h4>Team Members</h4>
                            <h4>Cluster</h4>
                            <h4>Environment</h4>
                            <h4>Publication</h4>
                            <a href="#" class="btn btn-default">Launch Request</a>
													</div>
											</div>
									</div>
							</div>

            </div>
        </div>

{%endblock%}
