{%extends "loginbase.html"%}

{%block title%}Launch A Virtual Cluster{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_requests')}}">Virtual Clusters</a></li>
              <li class="breadcrumb-item active">New Virtual Cluster</li>
            </ol>
            <h4 class="title">Launch New Virtual Cluster</h4>
            <!-- <h5>A project connects your allocations to your team members</h5> -->
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
						<hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('create_request', project=project)}}" method="POST">

                    <div class="form-group">
                      <label for="name">Virtual Cluster Name <span id="asterik">*</span></label>
                      <input
                        placeholder="Your Virtual Cluster name"
                        name="name"
                        class="form-control border-input"
                        type="text"
                        tabindex="1"
                        required
                        autofocus
                        value="{{request.name}}">
                    </div>

                    <div class="form-group">
                      <label for="cluster">Cluster Template <span id="asterik">*</span></label>
                      <select class="form-control border-input selectpicker" name="cluster" tabindex="2" id="form-resource-list" data-live-search="true" data-actions-box="true" data-header="Select Cluster Template" required>
                        <option value="" selected disabled>Select Cluster Template</option>
                        {% for cluster in clusters %}
                          {% if cluster.owner == session['name'] or cluster.public %}
                        <option data-tokens="{{cluster.name}}" value="{{cluster.name}}">{{ cluster.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="environment">Environment</label>
                      <select class="form-control border-input selectpicker"
                      name="environment" tabindex="3" id="form-resource-list"
                      data-live-search="true" data-actions-box="true"
                      data-header="Select Environment">
                        <option value="" selected disabled>Select Environment</option>
                        {% for environment in environments %}
                          {% if environment.owner == session['name'] %}
                        <option data-tokens="{{environment.name}}"
                        value="{{environment.name}}">{{ environment.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>



                    <div class="form-group">
                      <label for="allocation">Allocations<span id="asterik">*</span></label>
                      <select class="form-control border-input selectpicker" multiple name="allocation" tabindex="5" id="allocation" data-live-search="true" data-actions-box="true" data-header="Select Allocations for Virtual Cluster" required>
                        <!-- also disabled ".selectpicker" above <option disabled>Please Select Allocation</option> -->
                        {% for allocation in allocations %}
                        <option data-tokens="{{allocation.displayname}}" value="{{allocation.name}}">{{ allocation.displayname }}</option>
                        {% endfor %}
                      </select>
                    </div>


                    <div class="form-group">
                      <label for="description">Description (optional)</label>
                      <textarea
                        placeholder="A brief description..."
                        name="description"
                        class="form-control border-input"
                        id="form-textarea"
                        tabindex="6"
                        rows="5"
                        autofocus
                        maxlength="144"
                        value="{{request.description}}"
                        >{{description}}</textarea>
                      <span class="help-block exceeded"></span>
                    </div>

                    <div class="form-group">
                      <a href="{{url_for('list_requests')}}" class="btn btn-primary" tabindex="7" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="8" class="btn btn-create btn-wd">Launch Virtual Cluster</button>
                    </div>
                  </form>

        				</div>
        			</div> <!-- row -->

            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->
    </div><!-- ./row -->
  </div><!-- ./container-fluid -->
</div><!-- ./content -->


{%endblock%}
