{%extends "loginbase.html"%}

{%block title%}Request: {{ session.name }}{%endblock%}

{%block body%}

<div class="content container">
  <div class="container-fluid">
    <div class="row">

			<section id="user_profile">
			<!-- Profile Info Display -->

  			<div class="container card">
        <h2 class="title">Request Summary</h2>
        <h5>Request Details</h5>
        <hr />
    			<div class="row">
    				

    			</div> <!-- row -->
        </div> <!-- container -->
      </section>

    </div>
  </div>
</div>

{%endblock%}
