{%extends "loginbase.html"%}

{%block title%}Launch Profile{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title row">Virtual Cluster:
              {{name}}
            </h4>
            <h5>Description: {{description}}</h5>

            <div class="row">
              <div class="pull-left col-sm-12 col-md-6">
                <a href="{{url_for('edit_request', name=name)}}" class="btn btn-primary btn-xs">Update Description</a>
  						</div>
              <div class="delete_entity col-sm-12 col-md-6">
              {% if profile.name == owner %}
                {% if state == "terminating" %}
                {% elif state == "terminated" %}
                <div class="delete_entity">
    							<a href="{{url_for('delete_virtualcluster', name=name)}}" class="btn btn-danger btn-xs">Delete Virtual Cluster</a>
        				</div>
                {% elif state != "new" %}
                <form action="{{url_for('view_request', name=name)}}" method="POST">
                  <button type="submit" class="btn btn-danger btn-xs" data-submit="...Terminating Cluster" title="Terminate your Virtual Cluster">Terminate Cluster</button>
                </form>
                {% endif %}
              {% endif %}
  						</div>
            </div><!-- /.row -->

            <div class="row">
              <!-- <label for="statusbar" style="margin-top:20px;">State of Virtual Cluster</label> -->
              <div name="statusbar" id="statusbar">
                {% if state == "terminated" %}
                <h4>
                  <span class="label label-danger" style="color:white">
                    Successfully Terminated
                  </span>
                  <h5>{{vc3_request.state_reason}}</h5>
                </h4>
                  {% elif state == "terminating" %}
                <div class="progress" style="height:25px;">
                  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <strong style="font-size:20px">Terminating...</strong>
                  </div>
                </div>
                <h5>State Reason: {{vc3_request.state_reason}}</h5>
                {% elif state == "validated" %}
                <div class="progress" style="height:25px;">
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <strong style="font-size:20px">Validating</strong>
                  </div>
                </div>
                <h5>State Reason: A valid configuration is being created for the
                  request</h5>
                {% elif state == "pending"%}
                <div class="progress" style="height:25px;">
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <strong style="font-size:20px">Pending...</strong>
                  </div>
                </div>
                <h5>State Reason: {{vc3_request.state_reason}}</h5>
                {% elif state == "running" %}
                <div class="progress" style="height:25px;">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <strong style="font-size:20px">Running</strong>
                  </div>
                </div>
                <h5>State Reason: {{vc3_request.state_reason}}</h5>
                {% elif state == "cleanup" %}
                <div class="progress" style="height:25px;">
                  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <strong style="font-size:20px">Cleaning Up</strong>
                  </div>
                </div>
                <h5>State Reason: {{vc3_request.state_reason}}</h5>
                {% elif state == "new" %}
                <h4><span class="label label-info" style="color:white">New Cluster Starting up...</span></h4>
                {% endif %}
              </div>
            </div>
						<hr />
          </div><!-- ./header -->

          <div class="content description">
  					<div class="card-block">
              <div class="col-md-6">
                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Owner</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                  {% for user in users %}
                    {% if user.name == owner %}
                      {{user.first }} {{user.last}}
                    {% endif %}
                  {% endfor %}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Project</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {{vc3_request.project}}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Your VC3 Username</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {{profile.name}}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Head Node IP</strong></h3>
                  </div>

                  <div class="panel-body disabled">
                    {% if vc3_request.headnode['ip'] %}
                    <div>{{vc3_request.headnode['ip']}}</div>
                    {% else %}
                    <div>IP not available yet</div>
                    {% endif %}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Cluster Template</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {{vc3_request.cluster}}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Expiration</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {{vc3_request.expiration}}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Policy</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {{vc3_request.policy}}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Allocations</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    {% for allocation in allocations %}
                      {% if allocation.name in vc3_request.allocations %}
                      <div title="View {{allocation}}">
                        <row>{{allocation.displayname}}</row>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Environments</strong></h3>
                  </div>

                  <div class="panel-body disabled">
                    {% if vc3_request.environments == [] %}
                      <div>No environment yet</div>
                    {% else %}
                      <div>{{vc3_request.environments}}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="panel panel-info resource-profile" style="margin: 1em;">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Status</strong></h3>
                  </div>
                  <div class="panel-body disabled">
                    <!-- MYSITE-hostname-sysadminname -->
                    {% if vc3_request.statusraw['VC3-static'] == {} %}
                    Status Currently Unavailable
                    {% elif vc3_request.statusraw == None %}
                    Status Currently Unavailable
                    {% else %}

                    <label>{{vc3_request.cluster}}:</label>
                      {% for key, value in vc3_request.statusinfo.values()[0].iteritems() %}
                        <option>{{ key }}: {{ value }}</option>
                      {% endfor %}

                    {% endif %}
                  </div>
                </div>
              </div><!-- /.col-md-6-->

              <div class="col-md-6">

                <h2 class="title">
                  <small style="color:#ffc500">Node Access</small>
                </h2>
                <div id="accordion" role="tablist" aria-multiselectable="true">

                  <div class="card panel panel-info resource-profile" style="margin: 1em;">
                    <div class="card-header panel-title" role="tab" id="headingOne" style="margin: 1em">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          To access your node... <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="card-block panel-body disabled" style="font-size: 16px">
                        <ol>
                          <li>In a terminal, type:
                            <div>
                              <kbd>
                                ssh -i ~/.ssh/id_rsa yourvc3username@HeadNodeIP
                              </kbd>
                            </div>
                          </li>
                          <li>Members of your project can login using their SSH-Keys and VC3-Usernames</li>
                        </ol>
                      </div>
                    </div>
                  </div>

                </div><!-- /.accordion-->
              </div><!-- /.col-md-6 -->

            </div><!-- /.card-block -->
          </div><!-- /.content description-->

        </div><!-- /.card -->

      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
	</div><!-- /.container-fluid -->

</div><!-- /.content -->

{%endblock%}
