{%extends "loginbase.html"%}

{%block title%}Launch A Virtual Cluster{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">

          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_requests')}}">Virtual Clusters</a></li>
              <li class="breadcrumb-item active">New Virtual Cluster</li>
            </ol>
            <h4 class="title">Launch New Virtual Cluster</h4>
            <h5>Select a project below.</h5>
            <h5>Projects must have an allocation in order to launch a Virtual Cluster.</h5>
            <label><span id="asterik">*</span> <small style="color:black">= indicates required field</small></label>
            <h5>If you do not see your project below, make sure there is an allocation associated with the project.</h5>

            <hr/>
          </div>

          <div class="content description">
  					<div class="card-block">

              <div class="row">
        				<div class="col-md-6">

                  <form role="form" action="{{url_for('create_request_project')}}" method="POST">

                    <div class="form-group">
                      <label for="project">Project <span id="asterik">*</span></label>
                      <select class="form-control border-input selectpicker" name="project" tabindex="4" id="project" data-live-search="true" data-actions-box="true" data-header="Select Project" required>
                        <option value="" selected disabled>Select Project</option>
                        {% for project in projects %}
                        <option data-tokens="{{project.name}}" value="{{project.name}}">{{ project.name }}</option>
                        {% endfor %}
                      </select>
                    </div>


                    <div class="form-group">
                      <a href="{{url_for('list_requests')}}" class="btn btn-primary" tabindex="7" title="Cancel">Cancel</a>
                      <button type="submit" tabindex="8" class="btn btn-create btn-wd">Next</button>
                    </div>
                  </form>

        				</div>
        			</div> <!-- row -->

            </div><!-- /.card-block -->
          </div><!-- /.card description-->
        </div><!-- /.card -->
  		</div><!-- /.col-md-6 -->
    </div><!-- ./row -->
  </div><!-- ./container-fluid -->
</div><!-- ./content -->


{%endblock%}
