{%extends "loginbase.html"%}

{%block title%}Request Profile{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Virtual Cluster:</h4>
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">

              {% for request in requests %}
						    {% if request.name == name %}
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Name</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.name.capitalize()}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>State</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.state.capitalize()}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>State Reason</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.state_reason.capitalize()}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Owner</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.owner.capitalize()}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Expiration</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.expiration}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Policy</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.policy.capitalize()}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Allocations</strong></h3>
                </div>
                <div class="panel-body">
                  {% for allocation in request.allocations %}
                    <a href="{{ url_for('allocation_name', name=allocation) }}"><option>{{allocation.capitalize()}}</option></a>
                  {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Environments</strong></h3>
                </div>
                <div class="panel-body">
                  Display Correct Nested Environments
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Status</strong></h3>
                </div>
                <div class="panel-body">
                  {% if request.statusraw['VC3-static'] == {} %}
                  Status Currently Unavailable
                  {% elif request.statusraw == None %}
                  Status Currently Unavailable
                  {% else %}

                  Allocations on Virtual Cluster:
                    {% for key, value in request.statusraw.values()[0].values()[0].iteritems() %}
                      <option>{{ key }}</option>
                      {% for k, v in value.iteritems() %}
                      <option>{{ k }}: {{v}}</option>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <hr/>
                {% endif %}
              {% endfor %}
              <!-- <a href="{{url_for('request_name', name=name)}}" method="POST" class="btn btn-primary btn-sm">Terminate Cluster</a> -->
                <label for="clustername">Cluster Status:</label>

                <form action="{{url_for('request_name', name=name)}}" method="POST">
                  <button type="submit" class="btn btn-primary" data-submit="...Terminating Cluster">Terminate Cluster</button>
                </form>

              </div>
            </div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
