{%extends "loginbase.html"%}

{%block title%}Launch A Virtual Cluster{%endblock%}

{%block body%}

<div class="col-md-8 col-sm-12">
<section id="new_project">
  <div class="container new-project">
    <form role="form" id="new-project-form" action="{{url_for('create_request')}}" method="POST">

      <!-- Logo -->

      <!-- <div class="col-lg-12 logo-vc3">
          <img width="100" class="logo" src="https://image.ibb.co/e59s3v/logosmall.png" alt="Logo" />
      </div> -->

      <h2>Launch New Virtual Cluster</h2>
      <h4><label><span id="asterik">*</span> = indicates required</label></h4>
      <!-- <h4>An allocation is an allotted amount of CPU hours or service units (SU) of computing time on a specific resource</h4> -->

      <fieldset>
        <label for="name">Virtual Cluster Name <span id="asterik">*</span></label>
        <input
          placeholder="Your Virtual Cluster name"
          name="name"
          type="text"
          tabindex="1"
          required
          autofocus
          value="{{request.name}}">
      </fieldset>
      <fieldset>
        <label for="cluster">Cluster Template <span id="asterik">*</span></label>
        <select class="form-control" name="cluster" tabindex="2" id="form-resource-list" required>
          <option value="" selected disabled>Please Select Cluster</option>
          {% for cluster in clusters %}
            {% if cluster.owner == session['name'] %}
          <option value="{{cluster.name}}">{{ cluster.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </fieldset>
      <fieldset>
        <label for="allocation">Allocations (ctrl/cmd to select multiple) <span id="asterik">*</span></label>
        <select class="form-control" multiple name="allocation" tabindex="3" id="allocation" required>
          <!-- also disabled ".selectpicker" above <option disabled>Please Select Allocation</option> -->
          {% for allocation in allocations %}
            {% if allocation.owner == session['name'] and allocation.state == "validated" %}
          <option value="{{allocation.name}}">{{ allocation.displayname }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </fieldset>
      <fieldset>
        <button type="submit" id="create-project" data-submit="...Sending" style="margin-top:25px">Launch Cluster</button>
      </fieldset>
    </form>
  </div> <!-- project container -->
</section>
</div>

{%endblock%}
