{%extends "loginbase.html"%}

{%block title%}Launch Profile{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Virtual Cluster:
              {% for request in requests %}
                {% if request.name == name %}
                  {{ request.name }}
                {% endif %}
              {% endfor %}
            </h4>
            <!-- <label for="clustername">Cluster Status:</label> -->
            {% if action == "terminate" %}
              {% if state == "terminated" %}
            <h4>
              <span class="label label-danger" style="color:white">
                Successfully Terminated
              </span>
            </h4>
              {% else %}
            <div class="progress" style="height:25px">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <strong style="font-size:20px">Terminating...</strong>
              </div>
            </div>
              {% endif %}
            {% elif state == "growing" %}
            <div class="progress" style="height:25px">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <strong style="font-size:20px">Growing...</strong>
              </div>
            </div>
            <form action="{{url_for('view_request', name=name)}}" method="POST">
              <button type="submit" class="btn btn-primary" data-submit="...Terminating Cluster" title="Terminate your Virtual Cluster">Terminate Cluster</button>
            </form>
            {% elif state == "pending"%}
            <div class="progress" style="height:25px">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <strong style="font-size:20px">Pending...</strong>
              </div>
            </div>
            <form action="{{url_for('view_request', name=name)}}" method="POST">
              <button type="submit" class="btn btn-primary" data-submit="...Terminating Cluster" title="Terminate your Virtual Cluster">Terminate Cluster</button>
            </form>
            {% elif state == "new" and action == "new" %}
            <h4><span class="label label-info" style="color:white">New Cluster</span></h4>
            <form action="{{url_for('view_request', name=name)}}" method="POST">
              <button type="submit" class="btn btn-primary" data-submit="...Terminating Cluster" title="Terminate your Virtual Cluster">Terminate Cluster</button>
            </form>
            {% else %}
            <h4><span class="label label-success" style="color:white">Successfully Running</span></h4>
            <form action="{{url_for('view_request', name=name)}}" method="POST">
              <button type="submit" class="btn btn-primary" data-submit="...Terminating Cluster" title="Terminate your Virtual Cluster">Terminate Cluster</button>
            </form>
            {% endif %}
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">

              {% for request in requests %}
						    {% if request.name == name %}
              <!-- <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Name</strong></h3>
                </div>
                <div class="panel-body">
                  {{request.name}}
                </div>
              </div> -->
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>State</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{request.state}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>State Reason</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{request.state_reason}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Owner</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{request.owner}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Expiration</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{request.expiration}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Policy</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{request.policy}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Allocations</strong></h3>
                </div>
                <div class="panel-body">
                  {% for allocation in request.allocations %}
                    <a href="{{ url_for('view_allocation', name=allocation) }}" title="View {{allocation.capitalize()}}"><option>{{allocation}}</option></a>
                  {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Environments</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {% for environment in request.environments %}
                    <option>{{environment}}</option>
                  {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Head Node</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {% for nodeset in nodesets %}
                    {% if nodeset.name == request.cluster %}
                      {% if nodeset.app_type == "htcondor" %}
                        <option>condor-dev.virtualclusters.org</option>
                      {% elif nodeset.app_type == "workqueue" %}
                        <option>condor-dev.virtualclusters.org</option>
                        <option>WQ Project Name: {{ request.name }}</option>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Status</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {% if request.statusraw['MYSITE-hostname-sysadminname'] == {} %}
                  Status Currently Unavailable
                  {% elif request.statusraw == None %}
                  Status Currently Unavailable
                  {% else %}

                  Allocations on Virtual Cluster:
                    {% for key, value in request.statusraw.values()[0].values()[0].iteritems() %}
                      <option>{{ key }}</option>
                      {% for k, v in value.iteritems() %}
                      <option>{{ k }}: {{v}}</option>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
                {% endif %}
              {% endfor %}
              </div>
            </div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
