{%extends "loginbase.html"%}

{%block title%}Dashboard{%endblock%}

{%block body%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('portal')}}">Portal Home</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('list_resources')}}">Resources</a></li>
              <li class="breadcrumb-item active">{{displayname}}</li>
            </ol>
          	<h4 class="title">Resource: {{displayname}}</h4>
            <div class="">
							<h5>Description: {{description}}</h5>
						</div>
						<hr />
          </div>

          <div class="content description">
  					<div class="card-block">
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Organization</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{organization}}
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Resource Website</strong></h3>
                </div>
                <div class="panel-body">
                  <a href="{{url}}" target="_blank">{{url}}</a>
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>User-Guide</strong></h3>
                </div>
                <div class="panel-body">
                  <a href="{{docurl}}" target="_blank">{{docurl}}</a>
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Resource Status</strong></h3>
                </div>
                <div class="panel-body disabled">
                  <i class="fa fa-check" aria-hidden="true" style="color:green"></i> Healthy
                </div>
              </div>
              <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Batch System Scheduler</strong></h3>
                </div>
                <div class="panel-body disabled">
                  {{accessflavor}}
                </div>
              </div>
              <!-- <div class="panel panel-info resource-profile" style="margin: 1em;">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Globus Endpoint</strong></h3>
                </div>
                <div class="panel-body disabled">
                </div>
              </div> -->
  					</div>
          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>
{%endblock%}
