{%extends "base.jinja2"%}

{%block title%}Team{%endblock%}

{%block body%}

<!--==========================
  Team Section
============================-->

<section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Meet the VC3 Project Team</p>
        </div>
      </div>

    <div class="caption-style-3">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#myModal">
              <img src="https://image.ibb.co/fQwry5/dthain.jpg" alt="">
            </div>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Douglas Thain</h3>
                      <em>Lead PI - University of Notre Dame</em>
                      <br></br>
                      <p>Provide Reference Virtual Cluster Platform for Community Computation
                      Adapting Existing Middleware to Self­Configure on Virtual Clusters</p>
                    </div><!-- /.modal-title -->
                    <div class="modal-body">
                      <p>Lead PI Thain is a faculty member in the department of
                      Computer Science and Engineering, and has a long
                      history of collaboration with the high energy physics community,
                      starting with his graduate work on the Condor[35] distributed
                      computing system. He has been supported by one DOE and eight
                      NSF grants since joining Notre Dame in 2004. Most related
                      to this work is an NSF Software Institutes (SI2) grant titled
                      “Bridging Cyberinfrastructure with the Cooperative Computing
                      Tools” which started in 2012. This grant supports maintenance
                      and support of the CCTools (Parrot [43], Chirp [44],
                      Makeflow [74], and Work Queue [42]) for the benefit of a
                      wide range of user communities that wish to harness multiple
                      computing resources to achieve their goals. For example,
                      Parrot has seen use with the CDF, CMS, and MINOS experiments,
                      the Chirp filesystem has seen use with the ATLAS, and the
                      Makeflow and Work Queue tools are used in the bioinformatics
                      and molecular dynamics communities, as well as being the
                      basis for the workload management tools described in this
                      proposal. Thain is also a Co­PI of DASPOS.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

            <div class="caption">
              <div class="blur">
                <div class="container caption-text">
                  <h5>Douglas Thain</h5>
                  <span>University of Notre Dame</span>
              </div>
            </div>
          </div>
            <h5>Douglas Thain</h5>
            <span>Lead PI</span>
          </div>
         </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#rgardner">
            	<img src="https://image.ibb.co/n16JwQ/rgardner1square.jpg" alt="">
            </div>

            <div class="modal fade" id="rgardner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Robert Gardner</h3>
                    <em>Co-PI - University of Chicago</em>
                    <br></br>
                    <p>Provide Reference Virtual Cluster Platform for Community Computation
                    Community Experience Portal (CX)
                    Service Instances (SI)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co-­PI Gardner is a Senior Scientist in the Enrico Fermi
                    Institute and a Senior Fellow in the Computation Institute
                    at the Univeristy of Chicago. He is the project director of
                    the ATLAS Midwest Tier2 Center [12] (with NCSA/University of
                    Illinois Urbana­-Champaign and Indiana University), the
                    leading Tier2 Center in the worldwide WLCG Computing Grid in
                    terms of CPU­hours delivered to ATLAS. He is also the Computing
                    Facilities Integration Program Manager for the U.S. ATLAS
                    Collaboration (NSF PHY11­19200) that includes coordination of
                    the U.S. ATLAS Tier2 complex (10 institutes). Gardner led the
                    development team for the ATLAS federated data service FAX [21]
                    (now deployed at 60 data centers in North America, Europe and
                    Asia), and co­-convened the monitoring area of the ATLAS
                    Distributed Computing organization, recently launched the
                    ATLAS analytics project [75]. Gardner is coordinator for
                    User Support and Campus Grids in the Open Science Grid
                    (NSF PHY 1148698); co­PI of DASPOS project (NSF PHY 1247316)
                    for data and software preservation; and PI of the 100 Gbps
                    network upgrade project at UChicago, CC*IIE Networking
                    Infrastructure: A Performant and Reliable Science DMZ for
                    National and International Collaboration</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
              <div class="blur">
	              <div class="caption-text">
	                <h5>Rob Gardner</h5>
	                <span>University of Chicago</span>
	              </div>
              </div>
            </div>
            <h5>Rob Gardner</h5>
            <span>Co-PI</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#mhildreth">
              <img src="https://image.ibb.co/bxm7qk/m_Hildreth.jpg" alt="">
            </div>

            <div class="modal fade" id="mhildreth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Mike Hildreth</h3>
                    <em>Co-PI - University of Notre Dame</em>
                    <br></br>
                    <p>Community Engagements (CE)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co­PI Hildreth is a faculty member in the department of
                    Physics at the University of Notre Dame and has been supported
                    by nine different NSF and DoE grants since 2000, including an
                    Outstanding Junior Investigator award from 2002­2006. He has
                    been involved in HEP software development and management over
                    his entire time at Notre Dame. He served as convener of the
                    DØ Central Fiber Tracker and General Tracking groups, and
                    spent two years as overall Online Software Coordinator of
                    the DØ experiment. He is currently part of the CMS Online
                    Software management team in his sixth year as convener of
                    the CMS Simulation group. He is also PI of the DASPOS project
                    funded by the NSF to focus on multi­disciplinary solutions to
                    Data and Software preservation guided by the needs of HEP.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
			            <h5>Mike Hildreth</h5>
	        		    <span>University of Notre Dame</span>
	        		  </div>
        		 </div>
        	 </div>
	        	<h5>Mike Hildreth</h5>
	        	<span>Co-PI</span>
        	</div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#dmiller">
              <img src="https://image.ibb.co/cEwCO5/dmiller.jpg" alt="">
            </div>

            <div class="modal fade" id="dmiller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">David Miller</h3>
                    <em>Co-PI - University of Chicago</em>
                    <br></br>
                    <p>Communite Engagements (CE)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co­-PI Miller is a faculty member in the department of
                    Physics at the University of Chicago and his group is currently
                    supported by NSF CAREER grant 1454715 from May 2015 to present,
                    which focuses on research topics involving hadronic final
                    states and computationally intensive event reconstruction
                    algorithms. As the current coordinator for the online software
                    for jet trigger and his earlier roles in the offline software
                    and reconstruction for new jet algorithms, Miller’s work
                    relies heavily on the current generation of software
                    infrastructure for both high throughput and high performance
                    computing. Several workshops and conferences organized by
                    Miller over the past 3 years have made significant use of
                    early incarnations of the infrastructure that forms the basis
                    of this proposal. He has also helped to make computational
                    resources available to otherwise disparate groups
                    (experimentalists and theorists; ATLAS and CMS) for common
                    research goals.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
			            <h5>David Miller</h5>
	        		    <span>University of Chicago</span>
  	        		</div>
          		</div>
          	</div>
  				<h5>David Miller</h5>
  				<span>Co-PI</span>
  			</div>
      </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#pbrenner">
              <img src="https://image.ibb.co/eEZfbQ/pbrennerhiressquare.jpg" alt="">
            </div>

            <div class="modal fade" id="pbrenner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Paul Brenner</h3>
                    <em>Co-PI - University of Chicago</em>
                    <br></br>
                    <p>Provide Reference Virtual Cluster Platform for Community Computation (Co-Lead)
                    Adapting Middleware (Tech Co-Lead)
                    Service Instances (Cluster Administration and Operations)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co­PI Brenner is also Co­PI on an NSF funded (#13­0835) CC­NIE
                    Networking Infrastructure grant: Accelerating Research Data
                    Transit Between the Scientist's Desktop, Campus, and National
                    Cyberinfrastructure (ARDT). The ARDT project enhances the
                    Notre Dame campus network to support discovery from the
                    scientist's desktops and scientific sensors to the campus
                    research computing data center and outward to peers via the
                    national/international network infrastructure. Additionally,
                    in 2013 the ND CRC commissioned a new NSF Funded (#BCS­1229450)
                    Data Analytics Cluster for Computational Social Science on
                    which Brenner is senior personnel. DACCSS provides many new
                    avenues of research and collaboration for the social sciences
                    that were previously throttled by insufficient computational
                    capability. The NSF awarded the ND CRC an REU Site (#1063084)
                    in Multidisciplinary Computational Science (MCS) on which
                    Brenner is senior personnel. The physical sciences focused
                    REU helps galvanize an evolving CRC mission to create an,
                    interdisciplinary computational science environment of
                    collaboration between students and active researchers The
                    MCS REU funded 34 students of which 29% were female, 18%
                    were ethnic minorities, and 18% had parents who never
                    attended college.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Paul Brenner</h5>
            			<span>University of Chicago</span>
            		</div>
            	</div>
            </div>
            	<h5>Paul Brenner</h5>
            	<span>Co-PI</span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#klannon">
            	<img src="https://image.ibb.co/iUcDVk/klannonsquare.jpg" alt="">
            </div>

            <div class="modal fade" id="klannon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Kevin Lannon</h3>
                    <em>Co-PI - University of Notre Dame</em>
                    <br></br>
                    <p>Adapting Middleware (Lead)
                    Service Instances (Lead)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co­PI Lannon is a faculty member in the department of
                    Physics at the University of Notre Dame and has been supported
                    by three different NSF grants since 2009, including an NSF
                    CAREER grant from 2010­present. During this time he has led
                    the effort to build and commission a CMS Tier 3 center. The
                    ND Tier 3 has been extremely successful. In terms of dedicated
                    resources, it is the second largest Tier 3 in the U.S., but
                    including opportunistic resources, it has the capacity to
                    provide more CPU resources than all the rest of the U.S.
                    Tier 3 sites for short bursts (several days to weeks).</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
              <div class="blur">
	              <div class="caption-text">
	                <h5>Kevin Lannon</h5>
	                <span>University of Notre Dame</span>
	              </div>
              </div>
            </div>
            <h5>Kevin Lannon</h5>
            <span>Co-PI</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#jhover">
              <img src="https://image.ibb.co/i79By5/jhover.jpg" alt="">
            </div>

            <div class="modal fade" id="jhover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">John Hover</h3>
                    <em>Co-PI - Brookhaven National Laboratory</em>
                    <br></br>
                    <p>Adapt and Enhance Provisioning Factory (Lead)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Co­-PI Hover has been professional staff at the RHIC/ATLAS
                    Computing Facility at Brookhaven National Laboratory since
                    2005. He has been leader of the Experiment Services (Grid)
                    Group, primarily serving the ATLAS Tier 1 facility, since
                    2009, and is the architect and co­developer on the
                    AutoPyFactory (APF) project. APF is the provisioning layer
                    of the ATLAS distributed computing infrastructure, used to
                    submit pilots to grid resources, and manage VM resources on
                    private and commercial cloud platforms. As the APF architect,
                    Hover has driven the evolution of APF from a simple pilot
                    submission tool, to a general­purpose, policy­driven
                    provisioning engine. In addition to Tier 1 site administration
                    and software engineering, Hover has served as area coordinator
                    for the OSG Blueprint activity, focussed on assessing new
                    technologies for OSG and advising the OSG technical director
                    on future directions for the US grid infrastructure.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
			            <h5>John Hover</h5>
	        		    <span>Brookhaven National Lab</span>
	        		</div>
        		</div>
        	</div>
            <h5>John Hover</h5>
            <span>Co-PI</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#jcabellero">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfyAAAAJGIxYWUwY2NmLWRlNGUtNDM2Mi1hNzJjLTBjYjkyYWYyYWU4OA.jpg" alt="">
            </div>

            <div class="modal fade" id="jcabellero" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Jose Cabellero</h3>
                    <em>Brookhaven National Laboratory</em>
                    <br></br>
                    <p>Senior Technology Engineer</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
			            <h5>Jose Caballero</h5>
	        		    <span>Brookhaven National Lab</span>
	        		</div>
        		</div>
        	</div>
            <h5>Jose Caballero</h5>
            <span>Senior Technology Engineer</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#khurtado">
              <img src="https://image.ibb.co/jbbCO5/khurtado.jpg" alt="">
            </div>

            <div class="modal fade" id="khurtado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Kenyi Hurtado Anampa</h3>
                    <em>University of Notre Dame</em>
                    <br></br>
                    <p>Postdoctoral Research Associate</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio Here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Kenyi Hurtado Anampa</h5>
            			<span>University of Notre Dame</span>
            		</div>
            	</div>
            </div>
            	<h5>Kenyi Hurtado Anampa</h5>
            	<span>Postdoctoral Research Associate</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#btovar">
              <img src="https://image.ibb.co/cKxKsa/bentovar.png" alt="">
            </div>

            <div class="modal fade" id="btovar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Benjamin Tovar</h3>
                    <em>University of Notre Dame</em>
                    <br></br>
                    <p>Lead Research Software Engineer</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio Here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Benjamin Tovar</h5>
            			<span>University of Notre Dame</span>
            		</div>
            	</div>
            </div>
            	<h5>Benjamin Tovar</h5>
            	<span>Lead Research Software Engineer</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#sthapa">
              <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/13235377_10156932951540008_4518035141644861808_o.jpg?oh=c5291d7536dc73324cb4e82e1ef3303e&oe=5956C218" alt="">
            </div>

            <div class="modal fade" id="sthapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Suchandra Thapa</h3>
                    <em>University of Chicago</em>
                    <br></br>
                    <p>Software Engineer</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio Here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Suchandra Thapa</h5>
            			<span>University of Chicago</span>
            		</div>
            	</div>
            </div>
            	<h5>Suchandra Thapa</h5>
            	<span>Software Engineer</span>
            </div>
        </div>

		    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#lbryant">
              <img src="https://avatars1.githubusercontent.com/u/2164180?v=3&s=460" alt="">
            </div>

            <div class="modal fade" id="lbryant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Lincoln Bryant</h3>
                    <em>University of Chicago</em>
                    <br></br>
                    <p>Systems Engineer</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio Here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Lincoln Bryant</h5>
            			<span>University of Chicago</span>
            		</div>
            	</div>
            </div>
            	<h5>Lincoln Bryant</h5>
            	<span>Systems Engineer</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#briedel">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAIhAAAAJDA4OThhMDYzLWM2YTQtNDZhYi05ODg5LWI4ODJiNmNiMWViNg.jpg" alt="">
            </div>

            <div class="modal fade" id="briedel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Benedikt Riedel</h3>
                    <em>University of Chicago</em>
                    <br></br>
                    <p>Scientific Programmer</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio Here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Benedikt Riedel</h5>
            			<span>University of Chicago</span>
            		</div>
            	</div>
            </div>
            	<h5>Benedikt Riedel</h5>
            	<span>Scientific Programmer</span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member">
            <div class="pic" data-toggle="modal" href="#jvan">
              <img src="https://ca.slack-edge.com/T03MU5LDV-U4THGCSAX-ac1f81007040-1024" alt="">
            </div>

            <div class="modal fade" id="jvan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Jeremy Van</h3>
                    <em>University of Chicago</em>
                    <br></br>
                    <p>Community Experience Portal (Web Developer)</p>
                  </div><!-- /.modal-title -->
                  <div class="modal-body">
                    <p>Bio here</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="caption">
            	<div class="blur">
	            	<div class="container caption-text">
            			<h5>Jeremy Van</h5>
            			<span>University of Chicago</span>
            		</div>
            	</div>
            </div>
            	<h5>Jeremy Van</h5>
            	<span>Web Developer</span>
            </div>
        </div>

        </div>
      </div>
    </div>
  </section>

{%endblock%}
