{%extends "base.jinja2"%}

{%block title%}Team{%endblock%}

{%block body%}

<!--==========================
  Team Section
============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Meet some of the VC3 Team</p>
        </div>
      </div>

    <div class="caption-style-3">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/n16JwQ/rgardner1square.jpg" alt=""></div>
            <div class="caption">
              <div class="blur"></div>
              <div class="container caption-text">
                <h4>Rob Gardner</h4>
                <span>University of Chicago</span>
              </div>
            </div>
            <h4>Rob Gardner</h4>
            <span>Research Professor</span>
          </div>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/bxm7qk/m_Hildreth.jpg" alt=""></div>
            <h4>Mike Hildreth</h4>
            <span>Professor</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/cEwCO5/dmiller.jpg" alt=""></div>
            <h4>David Miller</h4>
            <span>Neubauer Family Assistant Professor</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/eEZfbQ/pbrennerhiressquare.jpg" alt=""></div>
            <h4>Paul Brenner</h4>
            <span>Associate Professor</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/iUcDVk/klannonsquare.jpg" alt=""></div>
            <h4>Kevin Lannon</h4>
            <span>Associate Professor</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/fQwry5/dthain.jpg" alt=""></div>
            <h4>Doughlas Thain</h4>
            <span>Associate Professor</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/i79By5/jhover.jpg" alt=""></div>
            <h4>John Hover</h4>
            <span>Group leader for "Grid and Cloud Group"</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/jbbCO5/khurtado.jpg" alt=""></div>
            <h4>Kenyi Hurtado Anampa</h4>
            <span>Postdoctoral Research Associate</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://image.ibb.co/k8Vp35/btover.jpg" alt=""></div>
            <h4>Benjamin Tovar</h4>
            <span>Lead Research Software Engineer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/13235377_10156932951540008_4518035141644861808_o.jpg?oh=c5291d7536dc73324cb4e82e1ef3303e&oe=5956C218" alt=""></div>
            <h4>Suchandra Thapa</h4>
            <span>Software Engineer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://avatars1.githubusercontent.com/u/2164180?v=3&s=460" alt=""></div>
            <h4>Lincoln Bryant</h4>
            <span>Systems Engineer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="member">
            <div class="pic"><img src="https://ca.slack-edge.com/T03MU5LDV-U4THGCSAX-ac1f81007040-1024" alt=""></div>
            <h4>Jeremy Van</h4>
            <span>Web Developer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}
