{%extends "loginbase.html"%}

{%block title%}Timeline{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Timeline</h4>
            <div class="">
							<!-- <h5>A list of your current allocations</h5> -->
							<!-- <a href="{{url_for('create_allocation')}}" class="btn btn-primary btn-sm tour-step tour-step-four" title="Register New Allocation">+ New Allocation</a> -->
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">

                <select class="selectpicker" multiple data-live-search="true" data-actions-box="true" data-header="Select Allocations">
                  <option data-tokens="mustard">Mustard</option>
                  <option data-tokens="ketchup">Ketchup</option>
                  <option data-tokens="relish">Relish</option>
                </select>


  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
