{%extends "loginbase.html"%}

{%block title%}Timeline{%endblock%}

{%block body%}
{%include 'messages.html'%}

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          	<h4 class="title">Timeline</h4>
            <div class="">
							<!-- <h5>A list of your current allocations</h5> -->
							<!-- <a href="{{url_for('create_allocation')}}" class="btn btn-primary btn-sm tour-step tour-step-four" title="Register New Allocation">+ New Allocation</a> -->
						</div>
						<hr />
          </div>

          <div class="content description">

            <div class="card">
  						<div class="card-block">

                <div class="timeline">
                  <div class="container left" id="timeline" name="timeline">
                    <div class="content" id="timeline">
                      <h2>Register Allocation</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container right" id="timeline" name="timeline">
                    <div class="content" id="timeline" name="timeline">
                      <h2>Create Cluster Templates</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container left" id="timeline" name="timeline">
                    <div class="content" id="timeline" name="timeline">
                      <h2>Create New Projects</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container right" id="timeline" name="timeline">
                    <div class="content" id="timeline" name="timeline">
                      <h2>Launch Virtual Clusters</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container left" id="timeline" name="timeline">
                    <div class="content" id="timeline" name="timeline">
                      <h2>Monitoring</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container right" id="timeline" name="timeline">
                    <div class="content" id="timeline" name="timeline">
                      <h2>2007</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                </div>

  						</div>
  					</div>

          </div><!-- /.content description -->

        </div>
      </div>
		</div>

  </div>
</div>

{%endblock%}
